[2021-03-16 15:30] YoelKortick opened #2 "After clicking "Print" to print the labels there should be a way to edit the labels before actually printing them to a physical paper label. This exists in SpineOMatic and Libstick (non cloud app versions)"
This came from McGee, Margaret <Margaret.McGee@suny.edu>
She is seriously testing the SpineOMatic Cloud App and I am working closely with her.

After clicking "Print" to print the labels there should be a way to edit the labels before actually printing them to a physical paper label.  This exists in SpineOMatic and Libstick (non cloud app versions)

Sometimes content is added, or the institution w

[2021-03-16 15:32] YoelKortick opened #3 "Add "Start printing labels at" option"
This came from McGee, Margaret Margaret.McGee@suny.edu
She is seriously testing the SpineOMatic Cloud App and I am working closely with her.

Maggie staes:
We really need a "Start printing labels at" option so we can reuse sheets of labels. Typically, a full sheet is not always used when printing spine labels. Libstick and SpineOmatic both have this.

[2021-03-17 13:28] mattzman commented on #3
My library would also love to see this feature implemented ASAP. We frequently print small batches or one-off labels.

Thanks!

Matt Z

[2021-03-21 08:19] jweisman commented on #3
Thanks for the feedback. We will try to add this feature in the near future.

[2021-03-22 19:10] MaggieMcGee opened #5 "Save a set of barcodes for printing"
The ability to save a set of barcodes to print at a later time, known as batches. Batches of barcodes can be saved before closing the app and they can be opened, edited, and printed at a later time.

Currently, when the app is closed, the barcodes are not save in the apps history so the user can return and continue adding barcodes to be printed at a later time. The user would have to rescan all th

[2021-03-22 19:14] MaggieMcGee opened #6 "Labels can only be printed to label sheets and not to a label printer"
Currently, SpineOmatic cloud app can only print labels using sheets of labels. It does not have the ability to print to a label printer such as Zebra printers. It would be nice to have the option to choose to print using a label printer or using label sheets. Example is Orbis Cascades Label Printer App prints to a label printer, but not to label sheets.

[2021-03-22 21:18] MaggieMcGee commented on #3
Tested "Offset" in the latest version. So excited we can pick which label to start at. Thank you!

[2021-03-23 03:58] jweisman commented on #3
Indeed @MaggieMcGee - we just released a [new version](https://github.com/ExLibrisGroup/spineomatic-cloudapp/releases/tag/v0.1.0) which includes this feature. Glad it helps!

[2021-03-23 03:58] #3 closed

[2021-03-23 13:15] YoelKortick opened #7 "Add configurable padding before label"
When a call number is left justified it prints all the way at the edge of the label
See attached file for details
[When a call number is left justified it prints all the way at the edge of the label .docx](https://github.com/ExLibrisGroup/spineomatic-cloudapp/files/6189892/When.a.call.number.is.left.justified.it.prints.all.the.way.at.the.edge.of.the.label.docx)

[2021-03-23 13:16] YoelKortick opened #8 "If the call number does not have a subfield k then it prints higher than call numbers which do have a subfield k"
If the call number does not have a subfield k then it prints higher than call numbers which do have a subfield k
See attached file for details
[If the call number does not have a subfield k then it prints higher than call numbers which do have a subfield k.docx](https://github.com/ExLibrisGroup/spineomatic-cloudapp/files/6189893/If.the.call.number.does.not.have.a.subfield.k.then.it.prints.higher.t

[2021-03-23 19:49] mck1777 commented on #7
I am having this issue as well.
[labelTest.pdf](https://github.com/ExLibrisGroup/spineomatic-cloudapp/files/6192354/labelTest.pdf)

[2021-03-24 14:45] YoelKortick opened #9 "Two important fonts are missing when configuring the font in then SpineOMatic cloud app template: Cambria and Calibri"
![font in spineomatic cloud app template](https://user-images.githubusercontent.com/13975746/112329147-9e745b80-8cbf-11eb-8bae-3c4b4586e4f1.png)

Two important fonts are missing when configuring the font in then SpineOMatic cloud app template: Cambria and Calibri
See attached picture.

[2021-03-25 11:18] jweisman commented on #8
The API returns an extra parsed line for the barcodes with a `$$k`:

**AU65657**:
[code]
**AU65667**:
[code]

We'll have to investigate the API.

[2021-03-25 11:25] jweisman commented on #7
I hope it's enough to add a 0.05in margin. Would rather not make it configurable unless absolutely necessary.

![Screen Shot 2021-03-25 at 13 24 12 ](https://user-images.githubusercontent.com/80420/112465519-7e9b7100-8d6d-11eb-9901-3de729011133.png)

[2021-03-25 11:59] MaggieMcGee commented on #7
Hi Josh,

I think libraries will want to choose left-justify margins. The left side if the label often-times wraps on the side of the book spine, so there needs to be enough space to allow that. For example, one left-justifies .2

Thank you for investigating this,
Maggie

[2021-03-29 11:55] jweisman commented on #5
We're now saving scanned barcoded between SpineOMatic sessions. Scanned barcodes are cleared after successful print or when clicking the Clear button in the main screen. Hope this resolves this issue.

[2021-03-29 11:55] #5 closed

[2021-03-29 11:55] jweisman commented on #7
We're now supporting a configurable padding before the label text. Hope that resolves this issue.

[2021-03-29 11:55] #7 closed

[2021-03-29 11:55] jweisman commented on #8
In the meanwhile we're now suppressing blank lines in parsed call numbers. Hope that will address this issue.

[2021-03-29 11:55] #8 closed

[2021-03-29 12:00] YoelKortick commented on #8
It does look good now, all labels start in same place regardless of whether they do or do not have a subfield k in the 852 field

***@***.***D724AC.48D9D810]

From: Josh Weisman ***@***.***>
Sent: 29 March, 2021 14:56
To: ExLibrisGroup/spineomatic-cloudapp ***@***.***>
Cc: Yoel Kortick ***@***.***>; Author ***@***.***>
Subject: Re: [ExLibrisGroup/spineomatic-cloudapp] If the call number does not h

[2021-03-29 16:39] MaggieMcGee commented on #5
Hi Josh,

I have not been able to successfully do this. What is the workflow you are using? I tried canceling a print and then doing another search.  Selecting barcodes to print and doing another search to select barcodes and only the current barcodes show and print.

Is there a way to create a set that can be named and then retrieved to continue adding barcodes to be printed?

Thanks,
Maggie

[2021-03-30 16:38] mattzman opened #10 "Output label width narrower than layout configuration setting"
I am trying to print to sheets with labels that are one inch wide. However, the labels generated by the SpineOMatic app are too narrow, by about one-sixteenth of an inch. This is enough to throw off most of the labels in each row.

A sample output file is attached. As far as I can tell, my computer and browser (MacOS/Chrome) are set to print/save the output at 100% scale.

Here's a link to [the sp

[2021-03-31 14:29] jweisman commented on #5
Hi Maggie. We were trying to cover the use case where librarians will scan several barcodes, leave and return to the app, and the scanned barcodes will persist. See the screen capture below:
![persist-barcodes](https://user-images.githubusercontent.com/80420/113160676-5b2d6600-9246-11eb-938d-80c67d7370b0.gif)

I don't think we want to reproduce set capabilities in the app as we want to rely on set

[2021-03-31 14:41] MaggieMcGee commented on #5
Hi Josh,

Thank you for the workflow. To clarify, saving will only be an option when a user scans in the barcodes, not from searching physical items and selecting the items to be printed.

Will this be available if you do a physical items repository search and select the barcodes to be printed?

I understand not wanting to replicate creating sets in Alma.

Thanks,
Maggie

[2021-03-31 15:16] jweisman commented on #5
Hi Maggie. We added the persistence for the scanned barcodes as we understand how a session might be interrupted and would be cumbersome to re-scan all of the barcodes.

Do you see it as a common scenario where items are selected from a list of search results and then the session is interrupted? Do you think that case should be persistent as well?

[2021-03-31 18:43] mck1777 commented on #10
Hi
Not sure if this helps, but I used 1.03  for my label width instead of 1 to work around that.

mck

[2021-03-31 18:44] mck1777 opened #11 "ghost lines"
I have almost got the app configured. Have one question;

 When I print I am getting lines, gridlines if you will. Like the outline of the cell. How do I get rid of them? I can not figure out where to eliminate them. I have attached a pdf of my 2 templates

[DemcoShort.pdf](https://github.com/ExLibrisGroup/spineomatic-cloudapp/files/6238761/DemcoShort.pdf)
[DemcoTall.pdf](https://github.com/ExLibr

[2021-03-31 19:00] MaggieMcGee commented on #11
We are having the same issue as well.

[2021-03-31 21:09] MaggieMcGee commented on #10
We have a similar issue, but with where the labels start on the sheet compared to where the app prints them. Changing margins in Alma did not work or have any impact.
[20210329091126901_0001.pdf](https://github.com/ExLibrisGroup/spineomatic-cloudapp/files/6239531/20210329091126901_0001.pdf)

[2021-04-01 09:36] jweisman commented on #11
Hi @mck1777 & @MaggieMcGee . We just released a new version which supports disabling gridlines in the [print labels screen](https://github.com/ExLibrisGroup/spineomatic-cloudapp/wiki/Help#printing-labels).

Let us know how that works for you.

[2021-04-01 09:36] #11 closed

[2021-04-01 12:34] mck1777 commented on #11
Josh
That is perfect, now to get my horizontal alignment. Awesome thanks for the quick fix.
mck

[2021-04-02 16:32] mck1777 opened #12 "Parsing Routine query"
We are using Parsing Routine # 5 and I have run into a couple of hiccups. Not sure if I should report to this forum or open a ticket with Alma Support. So please let me know if I am in wrong group.

For example MMS ID 991001024439705241 our call number is D767.99.I9 H38 2008d
So we expect
D
767.99
.I9
H38
2008d
But we are getting
D
767.99.I9
H38
2008d

Any suggestions on correcting this? I have at

[2021-04-04 12:40] jweisman commented on #12
Hi @mck1777 . This seems like it would be an issue in the Alma parsing mechanism. Can you open a support case and keep us posted on how it goes? Thanks.

[2021-04-04 12:49] jweisman commented on #10
Thanks for your comments. I also played with the layout a bit to get it to work out on my printer. I think it may require some trial and error. There was also a bug which mixed up the horizontal and vertical gap which was [fixed](https://github.com/ExLibrisGroup/spineomatic-cloudapp/releases/tag/v0.3.1).

Here's a scan of our labels working and a sketch of the various layout options (in case this

[2021-04-05 13:05] mck1777 commented on #12
Thanks for the clarification. I have opened Case Number - 00943263.

maryclare koenig

[2021-04-06 13:47] MaggieMcGee commented on #5
Hi Josh,

I asked and scanning barcodes would be the typical workflow, so maybe not necessary to save sets of records.

Thanks.
Maggie

[2021-04-09 19:08] MaggieMcGee opened #13 "Load Barcodes From File"
Hi Josh,

The new load barcodes from file is great.

I noticed if you add files from a set and do not print or clear them so they remain saved, if you do a physical items search, you can select items from a physical items repository search in Alma, but items selected using "select items" do not get added to the list of barcodes that were loaded from a file. If you scan in a barcode, the barcode is

[2021-04-11 16:56] jweisman commented on #13
Hi @MaggieMcGee - thanks for your question. The app currently works such that the selected option (scan, select, set) is what gets printed. We felt that mixing between them would cause inconsistent results and would be more confusing. So if you've selected "Scan", all of the barcodes in the scanned list will be printed.

Hope that makes sense.

[2021-04-12 11:38] MaggieMcGee commented on #13
Hi Josh,

To clarify, the recommendation is to only use one of the options to create a list of barcodes to be printed? Do you mean that if you choose to scan barcodes the next time you go in you cannot add barcodes from a set select items?

Testing, this all proves to be true, however, you can add a barcode from Scan to a set uploaded from a file.

Thanks,
Maggie

[2021-04-12 14:47] mck1777 opened #14 "Line spacing question"
I now have the volumes printing, but was asked if I could remove the line spacing between the call number and the volume indicator. Can you direct me on how to accomplish this, I am not seeing how to change it in the template area.  I have uploaded a pdf of the print job.
[MCRL with v.pdf](https://github.com/ExLibrisGroup/spineomatic-cloudapp/files/6297585/MCRL.with.v.pdf)

Thanks
maryclare koenig

[2021-04-13 03:38] jweisman commented on #13
This is the correct understanding @MaggieMcGee . We tried to add some clarification to the [documentation](https://github.com/ExLibrisGroup/spineomatic-cloudapp/wiki/Help#printing-labels). Scanning barcodes from a file is part of the scanning option, so the behavior you describe sounds consistent.

Thanks!

[2021-04-13 03:38] #13 closed

[2021-04-13 03:40] jweisman commented on #14
Thanks for your question. Can you provide some example barcodes and the environment you're using so we can check it?

[2021-04-13 06:56] dongchch2016 commented on #12
Hi, @mck1777 ,
I'm very interested in your question. Because we also have customers like this demand. I know we can add a line breaks between call number parts. such as space or slash. How do you split the English word and numbers?
Such as D767.99 -->  D   767.99.

Thanks,
chenchen

[2021-04-13 11:21] MaggieMcGee commented on #12
@jweisman,

This is when being able to edit the label would come in handy if the parsing issues cannot be fixed.

Thanks,
Maggie

[2021-04-13 12:04] mck1777 commented on #12
chenchen
Not sure what you mean about how to split, the software parses the call number per the  [configuration](https://knowledge.exlibrisgroup.com/Alma/Product_Documentation/010Alma_Online_Help_(English)/Physical_Resource_Management/070_Configuring_Resource_Management/060_Configuring_Call_Number_Parsing_when_Printing_Labels)

[https://knowledge.exlibrisgroup.com/Alma/Product_Documentation/010Alm

[2021-04-14 02:31] dongchch2016 commented on #12
All right.Thank you for your explain. @mck1777 It's very useful for me.

chenchen

[2021-04-16 16:25] Mattinthevault opened #16 "What rolls are needed in Alma to test in the sandbox?"
We are trialing cloud apps in our alma sandbox and one of our catalogers wants to test this app.  Her error message reads

"No templates or layouts have been configured. Please ask an administrator to configure."

when she tries to use the settings that were already configured for her.

[2021-04-16 17:39] MaggieMcGee opened #17 "Regression with saving barcodes"
Hi Josh,

There appears to be a regression with barcodes being saved between sessions. I am attaching a recording. I discovered this as I am trying to refine the label setting to align properly.

Thanks,
Maggie

https://user-images.githubusercontent.com/81188041/115063176-388f8400-9eb9-11eb-9b75-d496f0460c35.mp4

[2021-04-18 07:15] jweisman commented on #16
Hi @Mattinthevault . The SpineOMatic app needs to be configured first by an Alma General Administrator. See [here for documentation](https://github.com/ExLibrisGroup/spineomatic-cloudapp/wiki/Help#configuration) on how to configure.

Let us know if this works out for you.

[2021-04-18 07:18] jweisman commented on #17
Thanks for this report @MaggieMcGee . We indeed were not persisting selected items after pressing "back." This has been fixed in [v0.4.2](https://github.com/ExLibrisGroup/spineomatic-cloudapp/releases/tag/v0.4.2)

[2021-04-18 08:28] #17 closed

[2021-04-21 12:31] mck1777 commented on #14
Not sure what you mean by environment, I am working in Chrome Version 89.0.4389.114 (Official Build) (64-bit)
My laptop is using Windows 10 Enterprise version 1909

We are having issues with Firefox not clearing margins, but that is a network setting I am trying to get IET to resolve. I am attaching an excel file with MMS ID and barcodes along with the pdf of the printed labels

What elese can I p

[2021-04-22 04:20] jweisman commented on #14
Sorry for the confusion- I meant which Alma environment can we check in? Sandbox? Institution? Thanks!

[2021-04-22 11:48] mck1777 commented on #14
:)
Institution.
mck

[2021-04-22 12:37] jweisman commented on #14
Thanks. I was able to take a look. In order to create a line break without any space, hold down "Shift" and press "Return/Enter". You see there is now no space in the template.

![Screen Shot 2021-04-22 at 15 35 23 ](https://user-images.githubusercontent.com/80420/115715151-8d7f3e80-a380-11eb-8d50-8ff81b11b349.png)

I updated the Mcrl V 1 template, saved it, and printed out some barcodes. I think

[2021-04-22 12:43] mck1777 commented on #14
THANK YOU. such a small thing, printing labels, but it is so large in our library.
Appreciate the quick fix.

mck

[2021-04-22 12:44] jweisman commented on #14
Glad it worked out!

[2021-04-22 12:44] #14 closed

[2021-04-22 18:20] Mattinthevault commented on #16
We got further than before.  But we were not able to save a "layout" after
several attempts   -Matt

[image: image.png]

On Sun, Apr 18, 2021 at 2:15 AM Josh Weisman ***@***.***>
wrote:

[2021-04-22 18:45] Mattinthevault commented on #16
Ok, she wasn't pressing enter at the right moment so we *can* save a
layout.  My end user is tracking down what kind of labels we load into our
Zebra.  Looking at it from 10000 feet, I do still find it odd that a GSA is
needed to print a label.  Let's see what happens to her after her new roll
expires.    -Matt

On Sun, Apr 18, 2021 at 2:15 AM Josh Weisman ***@***.***>
wrote:

[2021-04-22 18:54] MaggieMcGee commented on #16
@Mattinthevault

How did you configure the cloud app to use a Zebra printer?

Thanks,
Maggie

[2021-04-22 19:50] MaggieMcGee opened #19 "Trouble configuring the layout to print properly"
Hi Josh,
I am using the Demco 1 1/2 x 7/8 layout. I've tried configuring the Demco layout with the dimension of the label. Sadly, the label dimensions do no translate and work as input.  I was able to adjust the height and width of the label. I am having trouble with where the labels being printing. I thought it would be the left margin. I have the left margin set to 0 and it starts too far over.

[2021-04-22 20:04] mck1777 commented on #19
Maggie
I ran into this problem. My firefox will not let me clear the margins at work yet at home it works fine. Our IT department is trying to figure out the reason [lot of suggestions, no answer yet]. I am able to clear the margins in chrome at work no problem.

To work in chrome this is how I accomplished it
Click on more settings
![image](https://user-images.githubusercontent.com/72558867/11577

[2021-04-22 21:29] mck1777 commented on #12
Josh
I am being passed back to you. The tech assigned to case #0094326 told me to speak to the developer.  I believe it is a parsing error within Alma and am arguing with the assigned tech, but just letting you know in case some one asks you anything.

maryclare

[2021-04-22 21:37] MaggieMcGee commented on #19
@mck1777 Thank you! I still have a little tweaking, but that fixed that issue!
Maggie

[2021-04-22 21:54] mck1777 commented on #19
Glad I could help. :)
mck

[2021-04-23 01:39] #19 closed

[2021-04-23 01:41] jweisman commented on #16
Glad you were able to save your configuration.  Note that the admin role is only required for the configuration.  Anyone with resource management roles or fulfillment roles can print the labels.

[2021-04-23 01:41] #16 closed

[2021-04-23 04:43] jweisman commented on #12
Sorry for the ping-pong. I'll follow up with my colleagues and get back to you.

[2021-04-29 13:47] MaggieMcGee opened #20 "Labels shifting to the left after the 3rd label prints. How do I prevent this?"
Hi,

I am almost able to print labels. I am having an issue where the 4-8th label begin printing further to the left. How can I prevent this?

Thanks,
Maggie
![image](https://user-images.githubusercontent.com/81188041/116560981-e181aa00-a8cf-11eb-9f76-9ed7bf4526c5.png)

[2021-04-29 14:12] jweisman commented on #20
Sounds like you need to increase the horizontal gap in the layout a small bit. Can you give that a try?

[2021-04-29 14:37] MaggieMcGee commented on #20
@jweisman

Perfect, that worked.

Maggie

[2021-04-29 14:38] jweisman commented on #20
Great!

[2021-04-29 14:38] #20 closed

[2021-04-29 15:10] jweisman commented on #10
Added the layout diagram to the [documentation](https://github.com/ExLibrisGroup/spineomatic-cloudapp/wiki/Help#layouts)- hoping this can help others.

[2021-04-29 15:10] #10 closed

[2021-05-02 14:11] dancromwell commented on #6
I was able to print a label to a Dymo label printer.   The labels I am working with are height = 2.125 in and width = 1 in.  I'm using a template in SpineOMatic Cloud app with parsed call number and a layout that is set with my label height and width, portrait and 1 label per page.  I made sure the Dymo printer was selected in the print preview when attempting my print and then had to go into the

[2021-05-02 14:14] MaggieMcGee commented on #6
Awesome! Thank you @dancromwell. I've been focused on the sheet labels and didn't get to this. I appreciate the detailed help.
Maggie

[2021-05-02 14:52] dancromwell commented on #6
@MaggieMcGee no problem.  Hope it is helpful.

Daniel

[2021-05-02 15:05] jweisman commented on #6
Good stuff @dancromwell . Thanks for sharing this!

[2021-05-02 15:05] #6 closed

[2021-05-07 08:23] mejonsson007 opened #21 "Can't print information needed"
Hi,
We are interested in trying SpinOMatic, but it doesn't seem possible to create the template we need. Our spine labels contain title, call number _and_ 852 $$j from the BIB record. We can't move the contents of 852 $$j to the HOL record becasue we don't want it displayed in Primo.

Can you see any solution to this problem?

Best regards,
Maria

**Maria Jonsson**
_Systems Librarian_
The Riksdag

[2021-05-09 09:49] jweisman commented on #21
Hi @mejonsson007 . Thanks for your question. It doesn't look like this field is available in the underlying [Item API](https://developers.exlibrisgroup.com/alma/apis/docs/xsd/rest_item.xsd/?tags=GET#bib_data) which returns the information used in the label. We could perhaps add a feature where it would be possible to add any field from the BIB record. This might be complicated for repeatable field

[2021-05-10 07:30] mejonsson007 commented on #21
Hi Josh,

Thanks for your reply.

I think the suggested solution sounds interesting, but a colleague of mine came up with another idea that we will try first. It involves using another field in the HOL record for the information that we need to print. I’ll get back to you if that doesn’t work.

Best regards,
Maria
_______________________
Maria E. Jonsson
Systems Librarian
The Riksdag Library
The S

[2021-05-11 19:45] jweisman commented on #21
Thanks for reporting the missing accession_number field, @mejonsson007 . We've added that field and released a small update to the app. Please let us know how that works out for you.

[2021-05-11 20:12] SWITCHconsortium opened #22 "Add label prefixes for specific combinations of library code/location code"
The windows application for Spine-O-Matic enables us to configure prefixes for specific combinations of library and location. For example, an item held by a library with code MMU and a location code CD will print the prefix AV two lines before the call number begins on the spine label.

Hence this item:
MMU        CD      Call number: 385.26 L548 2002

Will print a spine label like this:

[2021-05-13 00:32] EmeliaS opened #23 "Is it possible to use a Zebra printer with spine and piece labels?"
Hi,
I would like to use this with a Zebra label printer, using both spine and piece labels.
I've attached a document with the label sizes etc.
[Label dimensions 2021.docx](https://github.com/ExLibrisGroup/spineomatic-cloudapp/files/6469681/Label.dimensions.2021.docx)

Is this possible? From what I've seen this only seems to work printing 1 label or to a sheet of labels.
Thanks,
Emelia

[2021-05-13 02:51] jweisman commented on #12
Just an FYI- the SF case has been passed to the development team as a bug. It will be fixed in the coming releases.

[2021-05-13 02:52] jweisman commented on #23
Please see [this comment](https://github.com/ExLibrisGroup/spineomatic-cloudapp/issues/6#issuecomment-830815725) from another user on how they set up Zebra printers. Hope this helps.

[2021-05-13 02:54] jweisman commented on #22
Thanks for reporting this @SWITCHconsortium and for suggestion @tmarnell . We'll see what can be done.

[2021-05-13 03:02] EmeliaS commented on #23
I had seen that, but doesn't help much because its still only prints 1 spine label, not both the spine and piece label. See the document attached to the question to view images of the labels in question. Blank and with an example of what we print.

[2021-05-13 11:20] mck1777 commented on #12
Thanks for the update, my SF ticket does not show this.

maryclare

[2021-05-16 03:30] jweisman commented on #23
Hi @EmeliaS - Not sure if this can be done. I'll leave this issue open in case other colleagues have any ideas.....

[2021-05-16 16:13] jweisman commented on #22
We added an option for label prefixes in the [latest release](https://github.com/ExLibrisGroup/spineomatic-cloudapp/releases/tag/v0.6.0) and to the [documentation](https://github.com/ExLibrisGroup/spineomatic-cloudapp/wiki/Help#templates).

Please let us know how it works for you.

[2021-05-17 15:02] SWITCHconsortium commented on #22
Thanks for adding in a label prefix option – and so quickly!

I was playing around with the formatting of the labels (left-align, font, font-size), but I am not sure how I would apply those settings to the label prefixes?

***@***.***D74B00.A88A7B50]
If I am missing something obvious, please advise.

Thank you!

Katie

From: Josh Weisman ***@***.***>
Sent: Sunday, May 16, 2021 11:14 AM
To: ExLibri

[2021-05-18 18:08] jweisman commented on #22
Hi- you're right. It's better to make the label prefix a standard field that can be formatted like all fields. It was now added to the field list- go ahead and insert it into your template and you should be able to format it.

![Screen Shot 2021-05-18 at 19 00 25 ](https://user-images.githubusercontent.com/80420/118685052-6dba2980-b80b-11eb-97a2-7e7c418528bf.png)

Let us know how that works for yo

[2021-05-18 18:46] SWITCHconsortium commented on #22
Perfect! This will also satisfy the libraries that like to format the prefix a little differently (e.g. bold, larger font, etc.). Thanks so much – this is perfect for us.

Katie

From: Josh Weisman ***@***.***>
Sent: Tuesday, May 18, 2021 1:08 PM
To: ExLibrisGroup/spineomatic-cloudapp ***@***.***>
Cc: Katie Utschig ***@***.***>; Mention ***@***.***>
Subject: Re: [ExLibrisGroup/spineomatic-cloudapp

[2021-05-18 19:26] mck1777 commented on #22
I am unable to get the Label Prefix option to work. Can you tell me if I am doing anything wrong

[prefix question.pdf](https://github.com/ExLibrisGroup/spineomatic-cloudapp/files/6503805/prefix.question.pdf)

any suggestions? what did I fail to do?

mck

[2021-05-18 19:39] SWITCHconsortium commented on #22
In addition to adding the label prefix field in the formatting box, you need to define which library/location combination = a label prefix value in the label prefix section. Happy to send a picture if this does not make sense.

Katie

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: mck1777 ***@***.***>
Sent: Tuesday, May 18, 2021 2:27:19 PM
To: ExLibrisGroup

[2021-05-18 19:43] mck1777 commented on #22
is that not what I did here

![image](https://user-images.githubusercontent.com/72558867/118713332-cc71aa00-b7ef-11eb-9db9-c682a153ac10.png)

[2021-05-18 20:12] SWITCHconsortium commented on #22
Sorry – I was looking at the message on my phone and did not see your original pdf.

In addition to setting up the prefixes, you also need to add the new  {{field:prefix}} to the Label contents. This enables you to format the prefix.
***@***.***D74BF8.402EF1F0]

Katie

From: mck1777 ***@***.***>
Sent: Tuesday, May 18, 2021 2:27 PM
To: ExLibrisGroup/spineomatic-cloudapp ***@***.***>
Cc: Katie Utsch

[2021-05-19 07:57] jweisman commented on #22
Glad the feature is useful! And we updated the [documentation](https://github.com/ExLibrisGroup/spineomatic-cloudapp/wiki/Help#templates) to indicate the label prefix field needs to be added to the template.

Thanks for the feedback.

[2021-05-19 07:57] #22 closed

[2021-05-20 18:30] jmcleod-mu commented on #21
Great work, Josh!
Would another field be considered an enhancement request?
My university is interested in the item_data.location but I can't find a way to bring it in. (My apologies if it's there and I'm missing it!) Can all the fields be accessed through the angular mustache notation? Example: {{item_data.location}}

[2021-05-23 06:15] jweisman commented on #21
Thanks @jmcleod-mu . You can add any field from the [API documentation](https://developers.exlibrisgroup.com/alma/apis/docs/xsd/rest_item.xsd/?tags=GET#item_data) - in this case, it would be `{{field:item_data.location.value}}`. We will also add it to the drop down in the next version.

[2021-05-23 06:15] #21 closed

[2021-05-26 09:58] kremke commented on #23
I would be interested in this as well.  The Consortium of Icelandic Libraries is working on migrating our libraries from Aleph to Alma. Most libraries print one label from Aleph containing spine label, barcode and description.  Most libraries would like to continue using this workflow.
![akrav_label](https://user-images.githubusercontent.com/76584888/119641227-f4bd6200-be08-11eb-907c-64e234904946.

[2021-06-07 14:32] MaggieMcGee commented on #6
@dancromwell  and @jweisman

Testing printing to a zebra printer. I cannot get the label to print higher up. I do not see where I can adjust the page size beyond 1 for Chrome.

<img width="207" alt="spine_zebra" src="https://user-images.githubusercontent.com/81188041/121035149-9a62c080-c77b-11eb-99cb-25b87e3b3e10.png">

<img width="619" alt="spine_zebra2" src="https://user-images.githubusercontent

[2021-06-07 14:34] MaggieMcGee opened #25 "Other user cannot edit SpineOmatic configurations"
Hi,

Why am I able to edit configurations, but another user cannot?

Thanks,
Maggie

<img width="223" alt="Spine_cant_edit" src="https://user-images.githubusercontent.com/81188041/121035439-e150b600-c77b-11eb-9da9-c50a1f0784ff.png">

[2021-06-08 08:57] jweisman commented on #25
Hi @MaggieMcGee . Configuration is only open to users with the General Administration role in Alma.

[2021-06-08 10:54] MaggieMcGee commented on #25
Thanks Josh! Missed that piece of information. That is great! Also, I found if I make changes, it makes changes to every user using SpineOmatic. Is this correct, changes are inherited by other uses who install the App.

Thanks,
Maggie
________________________________
From: Josh Weisman ***@***.***>
Sent: Tuesday, June 8, 2021 4:58 AM
To: ExLibrisGroup/spineomatic-cloudapp ***@***.***>
Cc: McGee, M

[2021-06-08 12:18] #25 closed, assigned to nobody

[2021-06-10 12:20] MaggieMcGee opened #26 "Printing to a label printer configuration help..."
@dancromwell and @jweisman

Testing printing to a zebra printer. I cannot get the label to print higher up. I do not see where I can adjust the page size beyond 1 for Chrome.

<img width="207" alt="spine_zebra" src="https://user-images.githubusercontent.com/81188041/121523828-a55c6180-c9c4-11eb-817d-ca087170c9a7.png">

<img width="619" alt="spine_zebra2" src="https://user-images.githubusercontent.

[2021-06-11 10:24] HSteeleLTS commented on #6
Good morning.   This thread is very helpful in us considering how to configure how to configure our Zebra printer for spine label printing.

However we have an additional issue.  I'm not sure if this is the right place to forward things to development, but Ex Libris support sent me here.  The issue is our Zebra printer through its configuration settings file embedded in the printer requires there

[2021-06-11 10:29] HSteeleLTS opened #27 "printing to Zebra printer with required pocket label"
Our issue is our Zebra printer through its configuration settings file embedded in the printer requires there to be a pocket label in the label print job that is sent to the printer. Both for workflow (it helps staff confirm they've scanned the right book) and because the label won't print without it, we need to be able to send the pocket label in data that is sent to the printer.

It looks given

[2021-06-13 06:32] jweisman commented on #26
Hi @MaggieMcGee - I don't have any first-hand experience with Zebra printers so I'm not sure I can be of help here. If you print it to regular paper, do you have better luck setting the margins?

[2021-06-13 06:36] jweisman commented on #27
Hi @HSteeleLTS - this sounds like it's a duplicate of #23 - do you agree?

[2021-06-13 17:34] MaggieMcGee commented on #26
I don't have access to a printer. I will test with a campus tomorrow and see what happens.

Thanks,
Maggie

[2021-06-14 12:43] HSteeleLTS commented on #27
Yes indeed.  I also posted to the bottom of that thread.  Is this possible ?

Sent from my iPhone

On Jun 13, 2021, at 2:37 AM, Josh Weisman ***@***.***> wrote:

﻿

Hi @HSteeleLTS<https://github.com/HSteeleLTS> - this sounds like it's a duplicate of #23<https://github.com/ExLibrisGroup/spineomatic-cloudapp/issues/23> - do you agree?

—
You are receiving this because you were mentioned.
Reply to th

[2021-06-15 02:55] jweisman commented on #27
Thanks - it's something we're exploring how to do. You can subscribe to #23 by clicking the subscribe button in that issue and get notifications. We'll update there when we have news.

<img width="340" alt="Screen Shot 2021-06-15 at 5 54 31 " src="https://user-images.githubusercontent.com/80420/121985883-43be3d80-cd9e-11eb-9187-55521f84ada3.png">

[2021-06-15 02:55] #27 closed

[2021-07-01 15:21] mgobat commented on #23
@EmeliaS, could you share which model Zebra printer you are using?  Thank you.

[2021-07-01 23:52] EmeliaS commented on #23
@mgobat It is a GX430t. Thanks.

[2021-07-06 15:49] cpham21 opened #28 "Suppress blank label prefixes"
We have label prefixes triggered for only a few locations and have it listed before our call numbers.

![Screen Shot 2021-07-06 at 11 39 59 AM](https://user-images.githubusercontent.com/87029685/124629773-bf685300-de4f-11eb-90b5-65d5267963d0.png)

There is a blank line on our labels whenever the prefix is not triggered. Would it be possible to suppress that space so the call number and the rest of

[2021-07-06 20:19] mgobat commented on #23
Thanks for your reply, @EmeliaS.

[2021-07-08 03:05] jweisman commented on #28
Thanks for your issue. We'll look into this.

[2021-07-09 14:00] SWITCHconsortium opened #29 "Please add Arial Narrow and more odd font sizes"
Would you be willing to add Arial Narrow to the font options as well as odd sizes 13 and 15

[2021-07-12 07:05] TBESC opened #30 "Spinomatic is cutting last line of topographic"
Dear all,

We are testing SpineOMatic App to print call number labels in our Library. We use LCC call numbers with the parsing routine nr. 5 in Alma. We have tried with the font Courier New and 12pt, to print in labels Apli 01712.
The print is ok if the call number has 4 lines, but if it has 5 lines, the last one is cut, while at the top of the label there is still free space.

The layout is this

[2021-07-15 09:18] #29 closed

[2021-07-15 09:18] #28 closed

[2021-07-15 09:19] jweisman commented on #28
Hi @cpham21 - we released a new [version](https://github.com/ExLibrisGroup/spineomatic-cloudapp/releases/tag/v0.6.5) which should fix this.

[2021-07-15 09:20] jweisman commented on #29
Hi @SWITCHconsortium - we released a new [version](https://github.com/ExLibrisGroup/spineomatic-cloudapp/releases/tag/v0.6.5) which adds these options.

[2021-08-04 18:24] jweisman opened #31 "Add support for specifying barcode size"
Support specifying the size of the barcode in templates.

Internal reference URM-157550

[2021-08-09 18:32] mgobat commented on #23
We've been experimenting with using tables in the "Templates" to support combined spine/piece/pocket label printing. A new version (v0.6.6) was published. We'd appreciate any testing of this feature to see if it supports the diverse label printing needs of Alma users.

Here's a potential solution to the original problem in this issue from @EmeliaS . It may require some tweaking.

Define the templa

[2021-08-10 02:32] ling-jiang-exl opened #32 "Additional call number parser"
From SF Case 00982739, the customer wants to manipulate the call number before printing it out.
Shelving info saved in the holding record 852$$j field is printed out as part of the call number unexpectedly.
If Regex feature is supported, we can filter the irrelevant shelving info out from call number.

For example, the customer may have a call number like 'X24 /E 14 第119排B面'.
They would like to ap

[2021-08-10 09:28] jweisman commented on #32
Hi @ling-jiang-exl - we're supporting custom call number parsers (see the [docs](https://github.com/ExLibrisGroup/spineomatic-cloudapp/wiki/Help#templates)). So we can add one for this customer if none of the [Alma parsing methods](https://knowledge.exlibrisgroup.com/Alma/Product_Documentation/010Alma_Online_Help_(English)/Physical_Resource_Management/070_Configuring_Resource_Management/060_Config

[2021-08-10 12:31] ling-jiang-exl commented on #32
Hi Josh,

Thanks for your reply and provided information about call number parsers.
There are many ways to parse the call number, however, the customer only wants part of the original call number.
It means removing or replacing part of the call number, or return some matched part of it but not only split it.

At present, the customer is using parsing call number routing #3
I have tested the Regex

[2021-08-10 14:42] jweisman commented on #32
We added the "remove shelving info" parser to the [latest release](https://github.com/ExLibrisGroup/spineomatic-cloudapp/releases/tag/v0.6.7). Please leet us know how it goes.

[2021-08-11 10:24] ling-jiang-exl commented on #32
Hi Josh,

Thanks for your update to the app.
Remove Shelving Info parser works well.
However, could you add the Split by Slash feature to Remove Shelving Info parser.
Or can you make the parser be multi-selectable as checkbox options?
Because the customer need the feature of both of the parsers.

Thank you.

Ling

From: Josh Weisman ***@***.***>
Sent: Tuesday, August 10, 2021 10:43 PM
To: ExLibris

[2021-08-11 10:46] jweisman commented on #32
Updated the removing shelving info parser to split by slash.

[2021-08-11 10:46] #32 closed

[2021-08-23 07:45] ling-jiang-exl opened #34 "Request to further modify the Call Number Parser"
Hi Team,
Please modify the current Call Number Parser of Remove Shelving Info:
From "^[\\w\\s]*\\/[\\w\\s]*\b" To: "[0-9A-Za-z[:space:]\\/\\.\\:\\(\\)\\+\\#\\-]+"
Because the current one cannot handle the call numbers:

FYI, this is the relevant issue with #32
Thank you.
Ling

[2021-08-24 09:45] kremke commented on #34
Would it be possible to have two call number fields, one as a parsed call no and another without the parsing?  I need to design a label that prints the parsed call number on a sub-label and then again as one line on the pocket label.  I haven't been able to figure out how to access both versions on the same label.

Regards,

Helgi

[2021-08-24 09:52] kremke opened #35 "More fields"
Hi,

Would it be possible to add more fields?

I am trying to replicate the format of our current labels in Aleph.  I have had no luck in finding fields that I need on the label:

Display name of location, have only found the location code but need the human readable name that corresponds to the location code.
Display name of the library (i.e. the name of the library, not the library code)
The val

[2021-08-24 23:59] brimoore-SDSU opened #36 "Linebreak in label prefix?"
Can a linebreak be included in a label prefix? I believe SpineOMatic supported ";" as a linebreak character.

[2021-08-25 04:42] ling-jiang-exl commented on #34
Hi Team,
Per testing from the customer, they have some symbols such as . and - in call numbers, which are not covered by the current regex [\w\s]. So, please kindly update the regex for "Remove Shelving Info" parser to [\w\s.-] so we can ask the customer to perform another round of testing.
Thank you.
Ling

[2021-08-25 04:46] ling-jiang-exl commented on #34
Hi Helgi,
I think it is not possible to refer to the same call number by apply different parser on them respectively. At present, as far as I can see, the parser applies to all call numbers. I think you may create a new issue for asking for a way to bypass the parser using some special syntax in the referring code.
Regards,
Ling

[2021-08-25 12:29] mgobat commented on #35
@kremke , when defining a template, does unchecking "Show as barcode" in the "Barcode" section of "Other options" work for your request to print "The value of the barcode field as a string of numbers, not the scannable barcode"?  Or is there some other need here?  Thanks.

[2021-08-25 13:28] kremke commented on #35
Hi,

Yes that works, but then I don't get the scannable barcode on the label.  I am trying to recreate in Alma our current setup in Aleph, we are using a three part label with barcode, spine label and pocket label printed on one pre-cut label:

![Scan21-05-2021-113253-1 (2)](https://user-images.githubusercontent.com/76584888/130798234-c3276227-0f36-4a47-abcc-1c87d073aac9.jpg)

I guess what I need

[2021-08-25 13:32] mgobat commented on #35
@kremke, thanks for the clarification.

[2021-08-25 22:53] brimoore-SDSU opened #37 "Copy # formatting"
The desktop version of SpineOMatic has some useful format coding options, particularly for copy_id (attached)
![image](https://user-images.githubusercontent.com/89492416/130874673-78baeadb-36bf-41db-ab51-2e293b4acea7.png)

[2021-08-27 13:50] chilurean opened #38 "Automatically print spine info"
Hello,
 I have GA access for the SpineOMatic, which is great for modifying the way the info on the spine label is printed.  The issue I'm having is being able to automatically print the info once I scan the item without being asked to choose a template.  I'm having to manually type in the information for every item I scan.  I was able to do this before I was granted GA access, but not since.  Did

[2021-08-29 09:21] jweisman commented on #38
Hi @chilurean - thanks for your question. Not sure I understand 100% the issue. Can you perhaps add a screenshot which shows what you're seeing?

Thanks!

[2021-08-30 07:19] #34 closed

[2021-08-30 10:15] kremke commented on #35
Hi,

The library.value and location.value give me the Alma codes for the library and location.  I'm hoping that spineomatic can access the corresponding name, in many cases the codes will be meaningless to the patrons so if possible having the names would be much better.
I have been playing with the editor and am very close to replicating our current setup.

![image](https://user-images.githubuser

[2021-08-30 11:05] VangelisPalaskas opened #40 "Barcode printing"
Hi Ex Libris community,

Very recently I started exploring the SpinOMatic cloud app. I found out that there are some limitations when it comes to printing barcodes.

Significantly, when in the template options I choose to display both the barcode and its value, the app constraints the size of the barcode's font ending-up with a fixed-size template only (please see attachment). FYI the format used

[2021-08-30 12:38] jweisman commented on #35
Hi @kremke - sorry - I meant to use the `desc` field. My mistake:
[code]

Can you try that?

[2021-08-30 15:28] mgobat commented on #40
Please follow updates to issue #31.

[2021-08-30 15:28] #40 closed

[2021-08-31 13:38] mgobat commented on #31
We've released version, v0.7.0.

Two new fields, "Barcode width" and "Barcode height", may be set in template configuration. If "Show as barcode" is checked, these two fields may be edited (just like the existing "Barcode encoding" field).

If values are not provided, the "Barcode width" will be set to 1 and the "Barcode height" will be set to 20 when the barcode is printed.

If "Show barcode valu

[2021-09-01 10:24] VangelisPalaskas opened #42 "Allow non-administrators to Create/adjust templates & layouts (Configurations)"
Hi Ex Libris community,

As I have been very active in using the SpineOMatic cloud app it came under my attention that there is an issue in the configuration of the templates and layouts and the user rights.

Accordingly, my institution would like to give rights to non-admin accounts to create and/or adjust the templates and layouts. However, based on the ['Configuring Cloud Apps'](https://knowled

[2021-09-01 11:54] kremke commented on #35
Hi,

Worked like a charm!  Now I have all the fields I need except for the spine label content in one line.  Next for me will be to tweak the table settings to get the printout to correspond to the pre-cut labels we are using.

Thank you very much for your help.

Regards,

Helgi

[2021-09-01 12:25] jweisman commented on #35
Great! Glad that worked.

[2021-09-02 09:14] jweisman commented on #42
Hi @VangelisPalaskas - thanks for your issue. Cloud Apps provide the option for "settings" or "configuration." Settings are user-based, while configuration applies for the app institution-wide. The SpineOMatic Cloud App uses the configuration, as it doesn't make sense to have each user define all of the templates and layouts individually.

Configuration is available only to users with the general-

[2021-09-07 09:14] VangelisPalaskas commented on #42
Dear @jweisman - many thanks for the reply. Overall, the most convenient solution would give the minimum amount of rights to a user in order to perform the modifications in the templates & layouts (Configuration) without affecting other spheres of permissions.

Thus, ideally, a new 'Label Printing Configurator' role could solve the issue. Alternatively, those rights could be added to an existing r

[2021-09-07 21:23] SWITCHconsortium opened #43 "Label Prefix / Top Margin"
We use Demco Label A-22 with 98 labels per sheet.

While the labels are meant to be 3/4" tall and 1" wide, we use them as though they are 1" tall and 3/4" wide, giving us 14 columns and 7 rows.

Here are my template settings:

<img width="247" alt="Book Template" src="https://user-images.githubusercontent.com/84043975/132412755-35aba344-8e77-4691-aed4-15ef6dea67d9.png">

Here is my layout. Note th

[2021-09-09 09:12] jweisman commented on #42
Thanks- we'll think though this a bit.

[2021-09-09 09:21] jweisman commented on #43
Hi @SWITCHconsortium - thank for your question. Based on feedback, you need to try to set your printer margins to 0. Each OS/Browser handles it differently. Here is how it looks on Chrome:

![Screen Shot 2021-09-09 at 12 19 48 ](https://user-images.githubusercontent.com/80420/132659511-b6ed1e64-8ff0-4e58-a01f-16a844a0a110.png)

Perhaps it's in the "Advanced" section of the "Printing Preferences" s

[2021-09-16 14:52] SWITCHconsortium commented on #2
Yes, please. We almost have the Cloud App printing as desired, but we are not willing to make the move to the cloud app without the ability to edit the labels before printing. We do not need to do it too often, but when we do, it is critical.

[2021-09-23 09:40] jweisman commented on #43
I'm looking [online](https://www.demco.com/label-templates) for Demco A-11 or A-22 labels, but I can't find a template for this description. Is there another number that they go by?

[2021-09-23 12:30] jmcleod-mu commented on #43
'Colored Processing Labels 1-1/2" x 1" Square Corners"' works for me.

Update: After some adjusting, it looks like Firefox and my printer give a .25" margin by default. So for the left and right, I had to set the margin to zero and make sure that it stayed at 0 when I went to the print dialog.
Top padding remains an issue.

[2021-09-27 14:54] VangelisPalaskas opened #45 "Code39 - Modulo 43 Checksum digit enhancement"
Dear ExLibris Community (dear Josh),

Thank you very much for providing the solution to adjust the barcode width and the height. My current workflow is increasingly focused on barcode label printing and I have hit once more on a technical 'bump'. Accordingly, I have experienced an issue in printing CODE39 barcodes with SpineOMatic.

After some trial-error testing and desk research, I figured out t

[2021-09-27 21:21] bkelm commented on #12
I will open a support case as well, a we are experiencing similar. We have this call number: PS 3602 .O79 W75 2021, but when we have it set to 3 or 5 for parsing we get:

PS 3602
.O79 W75
2021

but would prefer:

PS
3602
.O79
W75
2021

which we get with the Orbis Cascade label printer, but would prefer sheets.

[2021-09-28 15:45] mgobat opened #46 "Scan Items does not work for barcodes with special characters (+)"
SpineOMatic Cloud App reports "no items found for barcode XXXX", where XXXX is a barcode containing a plus sign (+).

[2021-09-28 19:41] grimmerr opened #47 "Author/Main Entry information for pocket labels?"
Our pocket label practice has been to include a line for Author/Main Entry. These fields were available in the old desktop version of SpineOmatic. Are these fields available in the cloud app? I didn't see them as an option.

[2021-09-29 10:56] jweisman commented on #45
Thanks for your suggestion. We can look into this.

[2021-09-29 11:00] jweisman commented on #47
Hi @grimmerr - thanks for your question. Can you try adding this to your template? If it works we can add it to the drop-down menu as well.
[code]

Let us know how it goes.

[2021-09-29 11:41] VangelisPalaskas commented on #45
Many thanks Josh. Looking forward to your update!

[2021-09-29 13:07] jweisman commented on #43
I downloaded the MS Word template, then used this layout.
![Screen Shot 2021-09-29 at 16 05 04 ](https://user-images.githubusercontent.com/80420/135274209-a04382e0-d01a-4772-bad9-9bea8e47ae34.png)

It seemed to work ok.
![scan-Demco](https://user-images.githubusercontent.com/80420/135274229-07f09013-f6aa-4781-b9ff-c03900ec3b15.png)

I set Chrome to print 100% with no margins.
![Screen Shot 2021-09

[2021-09-29 19:20] mgobat opened #48 "Not able to print Barcode fully left aligned - there is still a small margin left"
1. SpineOMatic > Configuration > Templates > “Bmed Breit” > in the Label Contents section click on “…” (More) button
2. Checking the properties:

- In the Table Properties, Alignment is set to Left
- In the Row Properties, Alignment is set to Left
- In the Cell Properties, Horizontal align is set to Left

3. The label is configured to print the barcode as scannable barcode and as barcode value
4.

[2021-09-29 19:21] #31 closed

[2021-09-29 22:08] bkelm commented on #12
We found the answer from ExLibris:

Thank you for contacting Ex Libris Support! I'm investigating this behavior now, and one behavior I noticed is that a similar call number appears to print successfully if I use the "Parsed Call Number" field, but prints with basic word wrap (incorrectly) if I use the holding_data.call_number field: https://www.screencast.com/t/OxBrJwsyI1

When using the Spine-O-

[2021-10-03 08:07] jweisman commented on #43
Hi @jmcleod-mu - thanks for the additional information. I think you're right- the `p` does have some styling associated with it. We released a new version which removes the top margin from `p`. (I hope this doesn't mess up others templates)

I'm printing on A4 paper set to Letter, hence the big margin at the bottom. I’ve only tested on Chrome but I assume/hope it would work similarly on Firefox. U

[2021-10-04 16:16] mgobat commented on #48
Fixed in version 1.0.1.

[2021-10-04 16:16] #48 closed

[2021-10-04 16:16] mgobat commented on #46
Fixed in version 1.0.1.

[2021-10-04 16:16] #46 closed

[2021-10-06 14:44] jweisman commented on #45
Hi @VangelisPalaskas - we've added this feature in the [latest version](https://github.com/ExLibrisGroup/spineomatic-cloudapp/releases/tag/v.1.1.0).
![Screen Shot 2021-10-06 at 17 43 39 ](https://user-images.githubusercontent.com/80420/136226515-0b1474b1-25a1-4ce3-b039-ab7ffc98fded.png)

Can you give it a try and let us know how it works for you?

[2021-10-06 14:44] #47 closed

[2021-10-25 12:21] lizbodian opened #51 "Data not being passed to Spine O Matic"
I'm trying to use the Cloud Apps version for the first time, but whenever I try to print, I get a blank web page instead of my labels.
Any tips on how to get my actual labels?

Thanks,
Liz
![SpineOMatic print](https://user-images.githubusercontent.com/77117287/138693936-7355a2ee-87cc-431e-919e-5a3c831fa4e4.jpg)

[2021-10-27 14:59] VangelisPalaskas opened #52 "Templates & layouts text field search - Enhancement"
Dear Josh,

Our configuration phase with the KU Leuven libraries will gradually come to its end with the valuable solution that Ex Libris has provided regarding the roles.

Currently, our intention is to proceed in a user testing phase. However, since KU Leuven has around 14 libraries thus around 35-50 layouts/templates. To that end, a user-friendly way for the searchability of the SpineOMatic lay

[2021-10-29 14:33] #51 closed, assigned to nobody

[2021-11-01 15:29] jweisman commented on #52
Hi @VangelisPalaskas - in the [latest release](https://github.com/ExLibrisGroup/spineomatic-cloudapp/releases/tag/v1.1.3) we have added auto-complete to the layout and template selection in the print screen. Let us know how it works for you.

[2021-11-03 19:49] VangelisPalaskas commented on #52
Hi @jweisman. From a quick testing, I have noticed that if a name contains spaces those are not retrievable in the user's search unless they are replaced with an underscore ( _ ) (e.g. the user has to type 'T1_Default_Template' for a template named 'T1 Default Template').  Therefore, I will focus on a filing system without spaces. I might or might not come back to you in the future about this.

Ho

[2021-11-04 14:05] #52 closed

[2021-11-04 14:20] jweisman commented on #52
Hi @VangelisPalaskas - thanks for the feedback. We've pushed a change which should allow you to search a term with spaces as well. Hope this helps.

[2021-11-04 14:22] VangelisPalaskas commented on #52
Thank you very much Josh!

[2021-11-11 18:44] mgobat commented on #30
@TBESC, curious if the latest updates helped with this problem.  Thanks!

[2021-11-11 18:45] mgobat commented on #38
@chilurean, are you still experiencing this problem? If so, could you please provide a screenshot of what you are seeing?  Thanks.

[2021-11-11 18:50] mgobat commented on #23
Curious if anyone has tried using tables in the "Templates" to successfully print spine and pocket labels together. @EmeliaS, were you able to try it? Thanks.

[2021-11-12 09:37] TBESC commented on #30
Yes, now it's working
many thanks1

*Antoni Borràs i Escorihuela*
/Gestor de projectes/

Unitat de Projectes
Servei d'Informàtica

Pl de la Mercè 10-12 | 08002-Barcelona
[Tel.] (+34) 935 421 274
***@***.***

[image: Universitat Pompeu Fabra, Barcelona]

Missatge de mgobat ***@***.***> del dia dj., 11 de nov. 2021
a les 19:44:

[2021-11-12 11:05] VangelisPalaskas opened #53 "Call Number Parse Routine - Enhancement"
Dear Josh,

After the launch of the User Testing phase we have picked up some minor necessary enhancements that we want to tackle step by step.

One of our priority issues, is providing an efficient 'Parse Routine' to fully automate the 'line breaks'  of the Parsed Call Number. Currently, no Alma Parse Routine seems suitable for this action. We have identified 'Parse Routine 3' as one of the close

[2021-11-12 11:18] VangelisPalaskas commented on #2
Dear Josh,
I think that Yoel’s suggestion would be quite useful for KU Leuven Libraries. The main use case is for some ‘Physical Titles’ in Alma that contain the same Call Number for two or more Physical Items (usually it refers to different volumes).

In the example below, the same Call Number refers to two separate physical items and hence two separate labels (i.e. BUSE vol.1 & vol.2). Practical

[2021-11-12 17:14] #30 closed

[2021-11-14 09:06] jweisman commented on #2
Hi @VangelisPalaskas - thanks for your feedback. This enhancement request is a bit complex to implement. We're still considering how it can be done.

[2021-11-14 12:10] jweisman commented on #53
Thanks for the suggestion @VangelisPalaskas . We'll look into this.

[2021-11-16 05:09] EmeliaS commented on #23
@mgobat We aren't back on campus yet, so when I have access to the printer I will test this. It looks promising!

[2021-11-16 15:59] mgobat commented on #23
@EmeliaS, we look forward to your test results. I will close this issue. Please open new GitHub issues for any problems you experience using tables in the templates. Thank you!

[2021-11-16 15:59] #23 closed

[2021-11-18 11:03] jweisman commented on #53
Hi @VangelisPalaskas . The [latest release](https://github.com/ExLibrisGroup/spineomatic-cloudapp/releases/tag/v1.1.5) of SpineOMatic includes this new call number parser. Let us know how it works for you.

[2021-11-19 14:46] VangelisPalaskas commented on #53
Hello @jweisman. Many thanks for the prompt response.

I have tested the call number parser today and it works perfectly!

[2021-11-20 19:36] #53 closed

[2021-11-20 19:36] jweisman commented on #53
Glad to hear : )

[2021-11-23 11:36] jweisman commented on #42
Hi @VangelisPalaskas - I'm happy to update that we've [released a new version](https://github.com/ExLibrisGroup/spineomatic-cloudapp/releases/tag/v1.1.6) which allows configuration for users with the Catalog Administration role in addition to the General Administrator role. This works in the December release, so it can be tested now in the Sandbox. There is a new button on the main screen:

<img w

[2021-11-24 15:14] VangelisPalaskas commented on #42
Hello Josh. I am also very happy with the new version. The delegation of configurations to non-admins will help us roll out the user testing phase.

For now there is no problem that the Circulation Desk Operator needs to be simultaneously active. I will let you know if something changes in the future.

Thank you again for looking into this rather more complicated case. It was an important issue fo

[2021-11-25 20:35] jweisman commented on #42
Great to hear. Thanks for the feedback.

[2021-11-25 20:35] #42 closed

[2021-12-02 14:58] VangelisPalaskas opened #54 "Spacing Format Tool (Enhancement)"
Dear Josh,

I hope that you are well. This is one of our minor issue regarding the spacing between the fields of the templates. The reason why spacing has been an issue is because we cannot accommodate a 4th line in the labels without substantially decreasing the font of the fields. Please see the example below.

I have tried also to use a table in the template but it doesn’t seem to work for our

[2021-12-02 19:41] mgobat commented on #23
@HSteeleLTS, please open a new issue. Are your label requirements exactly as in the example? If not, please include the template and layout settings in the new issue.

[2021-12-05 08:14] jweisman commented on #54
Hi @VangelisPalaskas - thanks for your question. If I understand your template correctly, you have a new line after the _BTAB_. Can you try doing a _shift/return_ after the _BTAB_ instead of a regular _return_. That should put the next line directly without any space.

[2021-12-07 13:43] VangelisPalaskas commented on #54
Hi @jweisman. Indeed, it works as expected!

Thanks a lot for answering my (rather silly) question.

[2021-12-07 13:51] #54 closed

[2021-12-19 12:47] jweisman commented on #12
Hi @mck1777 - just a quick update to say that we've done some work on parsing routing # 5. It should be in the February release, so you can work with it next month in the sandbox. I hope it addresses the issue. Please keep us posted after you're able to test.

Thanks and sorry for the delay.

[2021-12-21 12:15] mck1777 commented on #12
Josh

Sorry, I picked up the office head cold that is going around. Thanks for
the update, I look forward to testing this next month. Will definitely keep
you posted.

Cheers
Maryclare Koenig
Systems Librarian, MLIS
703-784-5967 no voicemail

On Sun, Dec 19, 2021 at 7:48 AM Josh Weisman ***@***.***>
wrote:

[2021-12-23 05:57] ling-jiang-exl opened #55 "[URGENT] Call Number Parser - Default (Alma) does not work after changing Label Content"
Hi Team,

This is an urgent issue, please kindly handle with priority.
After changing the Label Content from a field to another, the Call Number Parser does not work anymore.
It means, despite there is nothing else changed, the printed call numbers do not break lines anymore.
Even restore the selected field for Label Content to the original one does not have the issue resolved.

Please check if th

[2021-12-23 06:01] ling-jiang-exl opened #56 "[Enhancement] Adding logic to selecting fields for Label Content"
Hi Team,

This is an enhancement request from the customer 86WKU.
They want to add logic into choosing the field for Label Content such as:
* if item call number is null use holding call number
* if item call number is longer than holding call number, use item call number.
Please kindly evaluate the requirement and let me know if there is a plan.

Regards,
Ling

[2021-12-23 10:58] jweisman commented on #55
Hi @ling-jiang-exl - I'm sure sure I understand the issue. Can you provide steps to reproduce it?

[2021-12-24 05:41] ling-jiang-exl commented on #55
Hi @jweisman - Thanks for your reply.
The current printing result is:
[code]
Please see the following screenshot for the current printing result:
https://www.screencast.com/t/F3sTsK3710ec
While the expected result should be like:
[code]
The issue means the in app defined Default (Alma) call number parser does not work.
See the following screenshot for reference to the in app configuration:
https:/

[2021-12-26 08:18] jweisman commented on #55
Hi @ling-jiang-exl - can you confirm which Alma parser is configured? See the OLH referenced from the "call number" section of the [Template Configuration documentation](https://github.com/ExLibrisGroup/spineomatic-cloudapp/wiki/Help#templates).

[2021-12-28 05:52] kyooryoo commented on #55
Hi @jweisman I confirmed in the customer's PROD that they are using Call Number Parser Routine 7 which was configured since 13th Aug, 2021 without change since then.

[2021-12-28 13:26] jweisman commented on #55
Hi @kyooryoo - thanks for confirming. Let's review the remainder of the configuration.

Call number parsing configuration:
![Screen Shot 2021-12-28 at 15 23 02 ](https://user-images.githubusercontent.com/80420/147570630-74f1f60e-8e36-42ed-982b-3907f122f5d6.png)

Template configuration:
![Screen Shot 2021-12-28 at 15 23 53 ](https://user-images.githubusercontent.com/80420/147570745-2b515861-2ffd-45

[2021-12-29 04:44] ling-jiang-exl commented on #55
Hi @jweisman Thanks for your information. The customer was using {{field:holding_data.call_number}} but not {{field:item_data.call_no}}. I see {{field:item_data.call_no}} could be chosen from "Parsed Call Number" as one of the "Add field" dropdown list option. This case could be closed.

[2021-12-29 05:36] #55 closed

[2021-12-29 09:36] jweisman commented on #56
Hi @ling-jiang-exl - we can implement this as a call number parser. However, I need some clarification on the requirements. The first requirements states that if the item call number is null, we should use the holding call number. If the item call number is not null, you would like to use it. So the second requirement seems unnecessary.

Do you agree?

[2022-01-10 09:33] jweisman commented on #37
Hi @brimoore-SDSU - I'm going through some older issues and I wanted to check to see if this was still relevant.

Can you provide some more details here- we have some capabilities to offer custom call number parsers, but I would need to know what specific features around copy number you'd like interested in.

Thanks!

[2022-01-10 09:35] jweisman commented on #12
Just a quick update to let you know we did get this into February. Really hope it resolves the problem. Would be grateful for any feedback you can provide after the February release is in the sandbox (on January 23).

Thanks!

[2022-01-10 09:36] jweisman commented on #56
We added the parser as we understood it to [v1.1.7](https://github.com/ExLibrisGroup/spineomatic-cloudapp/releases/tag/v.1.1.7). Please let us know if this addresses the issue.

[2022-01-10 09:38] jweisman commented on #42
Hi @VangelisPalaskas - just an FYI. In [v1.1.7](https://github.com/ExLibrisGroup/spineomatic-cloudapp/releases/tag/v.1.1.7) we removed the limitation around Circulation Desk Operator. Now it should work for anyone with the Catalog Administrator role, regardless of any other roles.

[2022-01-10 15:09] VangelisPalaskas commented on #42
Hi @jweisman. This sounds good. Thank you very much for letting me know.

[2022-01-10 16:17] brimoore-SDSU commented on #37
Hello Josh,

Specifically we use the control "*" suppression code to prevent printing #'s < 2.

Thanks,   Brian

[2022-01-11 05:57] ling-jiang-exl commented on #56
@jweisman Thanks for your update. Are you talking about the Call Number Parser of "Holding Call Number"? What field should be chosen, {{field:item_data.call_no}} or {{field:item_data.alt_call_no}}? The requirement is using Item Call Number if it exists, otherwise use Holding Call Number. I tested with choosing {{field:item_data.alt_call_no}}, which takes the Item Call Number, and the parser of Hol

[2022-01-11 08:52] jweisman commented on #56
Please try it with `{{field:item_data.call_no}}`.

[2022-01-11 18:32] mgobat commented on #38
Closing this issue. Please open a new issue if it is still a problem.

[2022-01-11 18:32] #38 closed

[2022-01-11 18:37] mgobat commented on #43
Closing this issue due to lack of activity. If the problem still exists, please open a new issue.

[2022-01-11 18:37] #43 closed

[2022-01-13 02:44] ling-jiang-exl commented on #56
The field {{field:item_data.call_no}} and the parser Holding Call Number does not have the requirement fulfilled.
The printed result is still the Holding Call Number, despite there is Item Call Number exists.

Today, I have received the same request from another customer 86CUHKSZ, which is:
If the Item Call Number exists, print it. Otherwise, print Holding Call Number.

From: Josh Weisman ***@***.

[2022-01-13 03:14] ling-jiang-exl commented on #56
Update to the requirement from 86CUHKSZ:
Check if holding_copy_id exist, if it exists as XX, add "c. XX" under the current call number.
If the above requirement get fulfilled, we can propose it as a workaround for 86WKU.

[2022-01-13 03:21] ling-jiang-exl commented on #56
Update to the requirement from 86CUHKSZ:
Check if holding_copy_id exist, if it exists as XX, add "c. XX" under the current call number.
If the above requirement get fulfilled, we can propose it as a workaround for 86WKU.

[2022-01-13 07:50] jweisman commented on #37
Thanks @brimoore-SDSU - we'll see what can be done.

[2022-01-14 08:44] ling-jiang-exl opened #57 "[enhancement] request to add Microsoft Yahei font and 16pt and 17pt font size options"
the customer 86CUHKSZ request to add Microsoft Yahei font and 16pt and 17pt font size options

[2022-01-16 14:14] jweisman commented on #56
I think we understand the field mapping now. The "item call number" in the UI:
![Screen Shot 2022-01-16 at 12 44 34 ](https://user-images.githubusercontent.com/80420/149663614-5c53eba0-eae5-451b-a78d-9b081299a2a4.png)

Is mapped to the "alternative_call_number" in the API.

So in the [latest release](https://github.com/ExLibrisGroup/spineomatic-cloudapp/releases/tag/v1.1.8) we renamed the call num

[2022-01-19 13:00] kremke opened #58 "Defining layout of barcode; printing barcode values does not always work"
Hi,

I'm trying to duplicate our Aleph labels in Spineomatic. I'm close but still no cigar :) I'm having problems with the barcode and can't figure out what units are used to set the height and width of the labels. I have also checked the "Show barcode value" checkmark but it doesn't get printed on the label.  I have tried various numbers in the size configuration as well as using the default valu

[2022-01-19 18:28] mgobat commented on #37
Added in release v.1.1.9.

[2022-01-19 18:28] #37 closed

[2022-01-19 21:18] mgobat commented on #58
@kremke, could you provide complete details of your template and layout settings?

[2022-01-21 16:50] mgobat commented on #58
@kremke, just to make sure I'm understanding correctly, you created the label template in Microsoft Word, then did a copy from Word, and pasted into the "Label Contents" section while editing a Template in the SpineOMatic Cloud App.  Is that correct? If that is correct, while an absolutely brilliant way of creating the Label Contents, copying from Word to the SpineOMatic Cloud App exposes this pro

[2022-01-21 17:52] kremke commented on #58
Hi,

Yes, this is how I did it.  I had been trying to get the table right in the Cloud app editor but every time I changed one cell's dimensions or added fields to be printed, others would change and I had no luck in making the label look like I wanted so I thought I might try to do it in Word.  Since everything else seemed to work, it never occurred to me that the barcode rendering was misbehavin

[2022-01-21 21:14] mgobat commented on #58
While looking for a fix, I discovered the issue is not specially related to copy/paste from Word. Its a defect that could affect the printing of the barcode value regardless of how it is added to the template.

[2022-01-24 18:26] mgobat commented on #58
New field, "Barcode font size", added to the "Barcode" options in "Templates". This field will be used as the barcode font size if one is not found in the template. This is done to keep the Cloud App backwards compatible with existing templates. However, this new field is the preferred method of defining the barcode font size, and if set, will override a value in the template.

Fixed in release v1

[2022-01-24 18:26] #58 closed

[2022-02-09 09:58] kremke opened #60 "Receiving Department Items does not detect barcodes"
Hi,

After receiving items and going to the “Acquisitions” -> “Receiving Department Items” page the newly received items are displayed, and this would be a logical place to print out the labels, but for some reason Spineomatic doesn’t pick the barcodes up; no green dot appears in the Cloud App icon and if Spineomatic is started up manually it doesn’t detect the barcodes (see attached screenshot).

[2022-02-11 19:12] MaggieMcGee opened #61 "Parsing Routine for Dewey with long call numbers"
Hi Josh,

I wonder it the Parsing Routine 5 fix had an impact on other parsing routines. A library in SUNY using Dewey and has been using Parsing Routine 3 successfully with long call numbers. They just noticed that longer call numbers are not splitting properly any more.

Example of a call number:
782.421649092 R134 2021

Label should look like:
782.42164
9092
R134
2021

Actually looks like now:

[2022-02-11 19:29] phoenixcomet commented on #61
I actually just checked our original documentation, and the DCC call numbers for the past few years have been parsing on the decimal point.

Example of a call number:
782.421649092 R134 2021

Label should look like:
782
.4216
 49092
R134
2021

Actually looks like now:
782.42164
R134
2021

The remaining numbers are being cut off: 9092

So the call number is not breaking at the decimal point as it s

[2022-02-11 19:49] MaggieMcGee commented on #61
Hi Tina,

Thanks for the correct format.

@jweisman I tested the following parsing parameters and the numbers are being cut off:

Parsing routine 1
782
.42164909
R134
2021

Parsing routine 2
782.42164
R134
2021

Parsing routine 4:
782
.42164909
R134
2021

Parsing routine 5
782.42164
R134
2021

Parsing routine 6
782
.42164909
R134
2021

Parsing routine 7
782
.42164909
R134
2021

Parsing routine 8
7

[2022-02-15 18:42] mck1777 commented on #12
Jweisman
we have been able to print our labels with the patch in effect.

Thank You so much for all of your assistance.

maryclare koenig

[2022-02-15 18:56] mck1777 opened #62 "Unable to use table format"
Greetings
I was asked by one of my libraries to print the label from the bottom up (they want the space at the top to use stickers). Thinking I should create a table to use this feature of the formatting aspect, I was going to insert a row with 8 cells. (our current label sheet is 8 across and 7 down). This lead me to look at the table formatting mentioned on https://github.com/ExLibrisGroup/spine

[2022-02-23 13:03] mgobat commented on #60
The SpineOMatic Cloud App should be available from the specified Alma page in the 2022 April Alma release.

[2022-02-23 13:03] #60 closed

[2022-02-23 13:07] MaggieMcGee commented on #61
HI @jweisman

How can we get the labels to parse properly? None of the options work.

Thanks,
Maggie

[2022-02-24 20:08] mgobat commented on #61
Hi @MaggieMcGee. Reviewing our [knowledge base article](https://knowledge.exlibrisgroup.com/Alma/Product_Documentation/010Alma_Online_Help_(English)/Physical_Resource_Management/070_Configuring_Resource_Management/060_Configuring_Call_Number_Parsing_when_Printing_Labels) on Call Number Parsing, it looks like routine 8 gets you closest to your needs. Would you agree that routine 8, with perhaps som

[2022-02-28 14:28] MaggieMcGee commented on #61
Hi @jweisman ,

The reality is, parsing parameter 8, parsing parameters 1,4,6,7,8, and 12 currently all print the same if you see my above examples. There is not change in behavior when selecting these parsing parameters.

Thanks,
Maggie

[2022-02-28 16:07] mgobat commented on #61
Hi @MaggieMcGee . Thanks for your reply. Let's take a look at the details of parsing routine 8:

- Split the call number at spaces, periods, and subfield i.
- If the character ^ is present in the call number, it is converted to a space but does not break at that point.
- If the number of digits after the period is more than 4, break as follows:
     - 5 = 3, 2
     - 6 = 3, 3
     - 7 = 4, 3

Your

[2022-03-07 17:22] MaggieMcGee commented on #61
Hi @mgobat

I am attaching how it prints using call number parsing 3. It is not correct, but getting better. The label should look like this:

782
.4216
49092
R134
202

![long_call_number_parser](https://user-images.githubusercontent.com/81188041/157085315-73cdf616-6c46-4101-beb0-b96cdb90bfbb.jpg)
1

[2022-03-07 22:01] mgobat commented on #61
Thanks for the feedback, @MaggieMcGee. I updated the parser to split first at 4 digits (with decimal), then subsequently split every 5 digits. Please give it a try.

[2022-03-07 22:08] MaggieMcGee commented on #61
@mgobat

The label printed as expected this time. I am asking for more barcodes with varying length call numbers to test to make sure they print as expected.

Thanks,
Maggie

[2022-03-08 20:55] msarmi2 opened #63 "issue_level_description missing data"
I added the {{field:item_data.issue_level_description}} right below the item call number field, but it's not showing up on the label. Is there anything else I need to do?

Thank you,
Michael

[2022-03-14 14:33] mgobat commented on #61
Hi @MaggieMcGee...
Any additional feedback on the "long dewey" parser?
Thanks.

[2022-03-21 16:58] MaggieMcGee commented on #61
@mgobat

It seems to be working as expected  now. One request to be able to  indent the rows with the rollover Dewey number by a space or two?

Thanks,
Maggie

[2022-03-30 14:40] #61 closed

[2022-03-30 17:32] mgobat commented on #63
@msarmi2, @jdavis025 this is a defect. It will be repaired for the next release. You will need to update your templates once the fixed version is published.

[2022-03-30 18:39] mgobat commented on #62
Hi @mck1777...

Unfortunately, "Column properties" are not an option in the editor. Rather, since it is a single row table, "Cell properties" should be used to set the height and width. I clearly see where the instructions imply "column properties". I will clarify the instructions.

Do you have more details about how the library wishes the labels to print? I can work with you to see if the tables

[2022-03-31 12:43] #63 closed

[2022-04-04 12:40] pmgator opened #64 "no label appears on screen"
In trying to print spine labels, nothing appears on the screen.   Scan the barcode click to print label and the label looks blank on the computer screen.  Thanks for any feedback.

[2022-04-04 12:44] mgobat commented on #64
@pmgator, could you please provide the details of the template and layout you are using? Thanks.

[2022-04-04 12:49] pmgator commented on #64
The layout is "Label Printer Roll" and the template is "Call Number Label Book"  I am not very good with technology and generally just click to print.  But two other people also had trouble.  This is code for "I don't want to make it worse."

[2022-04-05 13:57] mgobat commented on #64
@pmgator, could you ask whoever created the "Label Printer Roll" layout and the "Call Number Label Book" template to give you the details of how the layout and template are defined? Thanks.

[2022-04-05 14:20] pmgator commented on #64
I will, thank you.

From: mgobat ***@***.***>
Sent: Tuesday, April 5, 2022 9:58 AM
To: ExLibrisGroup/spineomatic-cloudapp ***@***.***>
Cc: Morgan, Patricia ***@***.***>; Mention ***@***.***>
Subject: Re: [ExLibrisGroup/spineomatic-cloudapp] no label appears on screen (Issue #64)

[External Email]

@pmgator<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_pmgator&d=DwMCaQ&c=sJ6xIWYx-

[2022-04-08 06:38] VangelisPalaskas opened #65 "Question: How to increase space between Alma fields that exist within a table"
Dear Ex Libris team,

I have a rather silly question. I want to display two Alma fields (Parsed Call Number & Barcode) next to each other on my label. To align them harmoniously I use a table with 'invisible' borders. However, I would like to increase the gap between them and it is hard for me to find a way. Please see screenshots below.

Q: Is there a way to increase/adjust the gap between two ta

[2022-04-08 06:43] VangelisPalaskas commented on #65
FYI

I have solved the case by adding empty table cells in-between. But just out of curiosity:
Is there a better/alternative way that you would recommend maybe through the table properties?

Kind regards,

Vangelis Palaskas.

[2022-04-08 13:15] mgobat commented on #65
@VangelisPalaskas, the way you solved it is our recommendation. There is a "cell padding" property on the table that adds padding, but it does so all around the cell content. That would probably cause your labels to not align/print correctly.

[2022-04-08 13:15] #65 closed

[2022-04-11 06:28] VangelisPalaskas commented on #65
@mgobat Thank you very much for the response.

Kind regards,

Vangelis Palaskas

[2022-04-13 14:59] HSteeleLTS opened #66 "Zebra spine label printer with "Generic/text only" driver incompatible with SpineOMatic cloud app"
Good morning,

You had responded to me some ago about trying configuration settings in another ticket to handle spine and pocket labels in the template.   I see that you had us define three columns, where one is the gutter between the two.  Thanks for pointing me to these configurations.

The problem is the printer, still doesn't respect these two separate parts of the label.  The issue I believe

[2022-04-14 13:56] DundeeKarin commented on #64
Also having the same problem

[2022-04-14 18:36] mgobat commented on #64
@DundeeKarin, can you please provide the contents of both the layout and template that you are using?

[2022-04-15 10:34] DundeeKarin commented on #64
Good Morning

I have attached a screencast detailing your requirements.

We currently use the local SpineOMatic setup, installed on a pc in our processing department - making it available via the Alma cloud would be much more beneficial.

Here is a screenshot of how the label prints from there and how we would want it to print from the cloud.

[cid:c875f3bf-0b5b-4d4a-a76b-77c4ed68e0d6]

We current

[2022-04-19 23:43] mar1ll10n opened #67 "Request to add ALA BT Courier Font"
I would just generally like to use the other fonts installed on the computer. The ALA BT Courier font is installed on our staff PCs, but I am not sure why they are not accessible in the SpineOmatic CloudApp. We are use it with the SpineOmatic stand-alone program.

Thanks.

[2022-04-21 12:03] DundeeKarin commented on #64
As requested screenshot/cast sent directly 21/4

[2022-04-26 11:57] VangelisPalaskas commented on #2
Hi @jweisman. I hope that you are well.

Although we have rolled-out SpineOMatic to a number of our partners (e.g. Flemish Parliament and National Bank of Belgium) and many of them are extremely happy with its user-friendliness and ease-of-use, the feature 'edit before printing' (mainly for the Call Numbers) is still very important to implement it within KU Leuven.

Are there any news on that? If

[2022-04-26 11:59] VangelisPalaskas commented on #57
Question for @mgobat: Could this enhancement be implemented to all font sizes?

KUL is also interested for the 16 and 17pt (mainly for the Arial & Times New Roman font styles).

Kind regards,

Vangelis Palaskas.

[2022-04-26 20:26] mgobat commented on #64
@DundeeKarin, are the labels really only .3 centimeter wide and .24 centimeter high? That's a very tiny label to print on. Also, it appears you don't have a "Page width" set nor a number for the "Labels per page". I had the same results as you with the same settings, but once I set the label height and width to something larger (3cm and 2.4cm), and set values for the "Page width" and "Labels per p

[2022-04-26 20:27] Cyberolo opened #68 "[Enhancement] Adding date for label content"
Is it possible to add to SpineOMatic
the publishing date from bib record: field 260 subfield c
or from bib record: field 008 Date 1 (7-10)
Many libraries in Poland are using dates for proper identifying of serial monographs and journals.
Thank you in advance.

[2022-04-26 21:15] mgobat commented on #56
@ling-jiang-exl, can you confirm if this is working as desired now? Thanks.

[2022-04-27 15:00] mgobat commented on #2
@VangelisPalaskas, we don't yet have an estimate for when this feature will be available.

[2022-04-27 20:38] mgobat commented on #66
@HSteeleLTS, which printer do you have and what label stock are you using? Thanks.

[2022-04-27 20:46] HSteeleLTS commented on #66
We're using a Zebra printer.  It's somewhat old.  I think ZM400 maybe.  And the stock is total 4.25" wide  thermally printed labels including margins, that I believe roughly correspond to the dimensions you laid out in the other ticket.

the spine label is 2 cm x 3.5cm.  and the pocket label is 7.3 cm x 3.5 cm

[2022-04-28 15:16] mgobat commented on #64
@DundeeKarin, can you provide a screenshot of the "Print Setup" tab in the SpineOMatic Windows application that prints successfully for you?  Thank you.

[2022-05-02 14:22] VangelisPalaskas commented on #2
@mgobat Thank you for the answer. I understand.

However, I need to ask: Is it something that Ex Libris has put into development but it is not yet ready or it is possible that the feature will not be developed?

[2022-05-02 14:32] mgobat commented on #2
@VangelisPalaskas, we understand that this feature is highly desired by a number of Alma users, We are still evaluating options for ways to implement this enhancement.  The feature may be added depending on our options for implementation. Sorry I can't be more definitive right now.

[2022-05-02 15:54] mgobat commented on #68
Available in v1.2.5.

[2022-05-02 15:54] #68 closed

[2022-05-02 15:54] mgobat commented on #67
Available in v1.2.5. Please test and report back; no access to this font.

[2022-05-02 15:55] mgobat commented on #57
Available in v1.2.5. Please test and report back; no access to this font.

[2022-05-17 21:24] YvonneKester opened #69 "Computype Three Label Set - 1005544-1"
Hello,

I'm having trouble visualizing how to create this template/layout for SpineOMatic and am hoping you can give me some help. This is a three-label set, with a spine label on one side and two "pocket" labels on the other side. I was looking at your directions for the other Computype labels, and maybe I'm too tired but I just can't visualize and extrapolate to the other style. The dimensions I

[2022-05-18 18:52] mgobat commented on #69
This is untested, as we don't have a dedicated label printer or this label stock. If its close to what you need, it might need some tweaking. And if its not even close, we'll try again.

Create the layout with these settings:
- Measurement units: Inches
- Top margin: .125
- Left margin: .125
- Page width: 4.175
- Orientation: Portrait
- Label width: 3.925
- Label height: 1.625
- Horizontal gap: .1

[2022-05-19 18:53] YvonneKester commented on #69
Hello,

Thank you very much!
I've been tweaking this, and have gotten to the point where it tries to print three labels, but for some reason the bottom of the spine label and second pocket label isn't printing. I'm attaching a PDF print of where I'm at.

The cell properties width is in percentage, so I calculated that, and the height is in pixels, so I calculated that.

For the spine label I have:

[2022-05-19 20:49] YvonneKester commented on #69
Hi again--I figured out that I can add the dimensions in inches, and that has helped! (See attached.) One thing I am wondering is, is it possible to add line breaks in the call number for the spine label, but not on the pocket labels? It seems to allow only one global setting for this.
[Second try in inches.pdf](https://github.com/ExLibrisGroup/spineomatic-cloudapp/files/8734134/Second.try.in.inch

[2022-05-20 14:13] YvonneKester commented on #69
Update:  I had the campus try the new settings, but their printout looked much worse than mine! I'm attaching. It seems like the table really isn't the same size as the actual labels?
![IMG_1176](https://user-images.githubusercontent.com/105752712/169546629-4ba28b0d-d08e-4d2e-bc0b-60b23ac00932.jpg)

[2022-05-23 19:37] YvonneKester commented on #69
@mgobat,
Yes, I was so excited when I saw that, but also yes, I was printing to PDF and using Letter size paper. They of course are using the custom size. It would be great to be able to set up their printer on my machine, but I don't think that's possible, so I keep making adjustments and having them test. That said, when I see their printouts, it doesn't look like the table I've set in SpineOMat

[2022-05-23 20:59] mgobat commented on #69
@YvonneKester, it should support "in" appended to a numeric size. I think it defaults back to % or px if you add or delete a row or column, though. I'll have to check; it is a third party library.

The intent is that the combined template and layout should appropriately match the label being used, provided all the setting sizes are correct for the target label. Although this is the first time we a

[2022-05-25 14:35] mgobat commented on #66
@HSteeleLTS, your printer is a significant challenge since the SpineOMatic Cloud App is browser-based and therefore designed to output HTML. Adding support for printers like yours may not be possible in the app's current design.

[2022-05-25 19:31] mgobat opened #70 "Add support for label printers using "Generic/Text only" drivers"
Some label printers require plain text sent to them, as they do all the formatting. See issue #66 for additional details.

[2022-05-25 19:32] mgobat commented on #66
@HSteeleLTS, I've created an enhancement request (#70) for this issue. We can track against that issue if other customers also are using printers requiring generic/text only.

[2022-05-25 19:32] #66 closed

[2022-05-31 04:55] dongchch2016 opened #71 "Can duplicate barcode input and print be supported?"
It is not supported now, because 'set<string>' is used to store barcodes, but is it possible to add checkbox option to allow repeated barcodes input, so that repeated barcodes can be recorded and printed.

Thanks,
chenchen

[2022-06-02 02:02] dongchch2016 commented on #71
Hi,Mgobat,

Will this requirement be developed? If so, will there be a specific timeline? Because this is what the customer needs urgently.

Thanks,
chenchen

[2022-06-03 15:40] mgobat commented on #71
@dongchch2016, we haven't evaluated the feasibility of this enhancement yet. Therefore, there is no timeline for implementation. Sorry.

[2022-06-04 20:24] VangelisPalaskas opened #73 "Question: Adds a blank label with the 'Show as a Barcode' option"
Hi @mgobat,

I encounter a small issue with the 'Show as a barcode' option. Many times when we want to display the barcode an extra blank label is added & printed. The margins are well within the dimensions of the label but this still happens...

Do you have any tip to get rid of the second blank label?

![image](https://user-images.githubusercontent.com/89778038/172024474-622394f9-c477-4996-8050-

[2022-06-06 02:37] dongchch2016 commented on #71
@mgobat No worries, thank you for your reply.
So in other words, is the requirement acceptable for development?

Thanks,
chenchen

[2022-06-06 02:46] dongchch2016 commented on #71
@mgobat No worries, thank you for your reply.
So in other words, is the requirement acceptable for development?

Thanks,
chenchen

[2022-06-06 09:33] dongchch2016 commented on #56
Hi @mgobat ,
Ling jiang has left our company in February.
I checked the code and made some updates for this issue. Please review the code and please let me know if there's a question.

Thanks,
chenchen

[2022-06-06 13:36] mgobat commented on #71
@dongchch2016, the original developer has left the company. I need to familiarize myself with the application (and the Alma APIs used in it) before I can determine if it can be done.

[2022-06-06 14:44] mgobat commented on #73
@VangelisPalaskas, hmm....not ideal, but does a smaller font size help at all?

[2022-06-07 01:34] dongchch2016 commented on #71
@mgobat OK. No problem.

Thank you!
chenchen

[2022-06-08 17:53] YvonneKester commented on #69
Hi @mgobat,
I've been away on staycation for the past couple weeks, so just getting back to this. I made some changes and got some better results, but it still isn't "printing" correctly. One problem seems to be an inability to hold my changes to inches. I made a short screencast to show you what I'm seeing. Hope it is helpful! https://www.screencast.com/t/IHGXFs60q2EG

[2022-06-09 13:31] mgobat commented on #56
@dongchch2016, this week, hopefully. One of the changes you checked in, reordering the scanned in barcodes, isn't working correctly. I have a fix for that, and I'm testing it today.

[2022-06-09 16:13] mgobat commented on #56
Available in latest release, v1.2.6.

[2022-06-09 16:13] #56 closed

[2022-06-10 01:36] dongchch2016 commented on #56
Great!!! Thank you!

chenchen

[2022-06-10 20:39] mgobat commented on #73
@VangelisPalaskas, I'm glad you were able to come up with a possible solution through trial and error. We use a third-party tool to generate the barcodes. I will have to look at that tool to see if I can understand why larger barcode heights are causing an issue.

[2022-06-13 12:07] VangelisPalaskas commented on #57
Sorry for the delay. I was able to test today the font size.

The different font size works well @mgobat.

Thank you for the enhancement!

[2022-06-15 10:19] kremke opened #74 "Call no no longer parsed correctly"
Hi,

We went live with Alma last Monday, and now I am getting complaints from the libraries that the Call no is not parsed correctly. I have checked, re-checked and triple checked that there is indeed a check marck in Line breaks between call number parts

![image](https://user-images.githubusercontent.com/76584888/173803538-3016be8e-814f-4ac0-b0ca-e34e942d7ab3.png)

When we did our testing and se

[2022-06-15 17:57] YvonneKester opened #75 "Spineomatic won't open in Alma"
Hello,

Just a heads up that the app won't open--I thought it might be because you were working on the call number parsing issue, but in case you weren't aware....

Thanks!
Yvonne

[2022-06-15 18:00] YvonneKester commented on #69
@mgobat Thank you for your response--I, too, have been working on other things. Last night I was able to get a fairly good test view, and I put it out for the campus to test, but they can't open the app now. (Hence my recent issue.) I am continuing to work on getting this configured, and will let you know how it goes.

[2022-06-16 09:45] dongchch2016 commented on #71
Hi,Mgobat,

How is this going?

Thanks,
chenchen

[2022-06-16 13:29] mgobat commented on #74
@kremke, looks like you are using the "Default (Alma)" parser in your templates. That parser hasn't changed. We added a new parser, "Item Call Number Split By Slash", but that shouldn't affect anything if it isn't being used in your template. And I don't see any changes in the code for the line breaks checkbox.

[2022-06-16 15:25] mgobat commented on #75
Thanks, @YvonneKester, We had an issue with some Cloud Apps which should be resolved now.

[2022-06-16 15:25] #75 closed

[2022-06-16 16:13] YvonneKester commented on #75
@mgobat Brilliant! Thanks!

[2022-06-16 18:56] mgobat commented on #71
@dongchch2016, what is the workflow/purpose for this? Item barcodes are unique, so why would you want a barcode in the set multiple times? Thanks.

[2022-06-17 05:05] cindywanghui01 commented on #71
@mgobat Customer need to print out the same barcodes multiple times because they need to attach both the item itself and the item slipcases. Hope this helps.

Thanks,
Cindy

[2022-06-17 12:13] mgobat commented on #71
@cindywanghui01, would an option to print multiple copies of the same set of labels solve the problem instead of multiple occurrences of the same barcode in the set?

[2022-06-20 07:58] cindywanghui01 commented on #71
@mgobat, it would be better to have an option to have duplicate barcode because this kind of book will mixed with the normal books together, and they have a lot of physical books to deal with everyday, it'll be more efficient if they can just scan the item without doing anything else. Otherwise, they need to pick up those books with slipcases and created a set, it won't be efficient and will cause

[2022-06-20 12:13] mgobat commented on #71
@cindywanghui01, thank you for the explanation. We certainly don't want to make their workflow more complicated. Will investigate what we can do. No commitment yet.

[2022-06-22 09:23] kremke commented on #74
Hi Mark,

I figured it out, it seems that there is a new parsing routine, Long Dewey, that splits the call no correctly.  Some time ago you fixed the barcode for us, adding a new field raw_barcode to display the barcodes as digits on the pocket label.  Could you do the same for the call no, it needs to go on the pocket label as well, but as far as I can see, there is currently no way of getting a

[2022-06-23 07:50] VangelisPalaskas opened #77 "Enhancement: Print two templates with one layout"
Hi @mgobat,

I have been asked from many libraries in our network ([LIBISNet](https://libis.be/libisnet-partners)) if it can become possible to print two different labels at the same time. This feature exists in our old label printing tool. However, we have managed to convert already many institutions to the SpineOMatic cloud app.

Would it be possible to print two different templates (e.g. Spine

[2022-06-23 18:04] mgobat commented on #77
@VangelisPalaskas, we've made a first attempt at supporting more than one label per layout by implementing tables in the layout.  Please see https://github.com/ExLibrisGroup/spineomatic-cloudapp/wiki/Help#printing-adjoining-labels. The assumption is that you would be printing multiple labels next to each other, but you may be able to adjust it for your needs. Let us know if that might work for you

[2022-06-23 18:12] mgobat commented on #74
@kremke, so if we added a new call number field that ignored the setting for "Line breaks between call number parts", but otherwise behaved like the other call number fields, would that solve the problem? If so, what name would make sense for that field? "Raw call number" or something else?

[2022-06-24 06:10] VangelisPalaskas commented on #77
Thank you for the answer @mgobat.

In fact didn't think of this yet. So it's a nice idea.

I will give it a try and come back to you.

[2022-06-24 09:34] kremke commented on #74
Hi @mgobat ,

Yes, having the whole call no in a field that would print as a single line would do the trick. I guess it doesn't matter all that much what the field is called so long as it works, but calling it Raw call no makes sense since it is analogous to the raw barcode field.

Now that we are live with Alma I've got 300 libraries asking for help setting up their label printers and asking for

[2022-06-24 14:06] YvonneKester commented on #69
@mgobat Hello,
I did more configuring, and I'm just stymied as to how to proceed. I'm attaching screenshots of what I see in the print preview, and what actually comes out. I'm stuck. The IT department for this campus refuses to support the program on their computers, and I can't get the cloud app to work. Only one user is able to successfully print labels using the SpineOMatic program on their co

[2022-06-24 14:07] YvonneKester commented on #69
![ActualOutput](https://user-images.githubusercontent.com/105752712/175552763-c2bec087-228c-440d-a140-49b442bb6dc8.JPG)

[2022-06-24 14:35] sthb13 commented on #74
Hi Mark,

Helgi and I have been trying to set up the labels in spinomatic according to the libraries' wishes. Before I used the default Alma parsing routine and then the call numbers were split on spaces. Then that stopped working so the Long Dewey routine was used instead. Now the libraries are complaining that the Call number is being split on a dot as well. Can you point us to a routine that on

[2022-06-24 15:09] mgobat commented on #74
@kremke, since the original topic of this issue is no longer a problem, I'm going to close it and open a new issue for the "raw call number" enhancement.

[2022-06-24 15:17] mgobat opened #78 "Add "Raw call number" option which ignores the "Line breaks between call number parts" setting"
There is a desire to print the call number both with and without breaks, using adjoining labels. Add a new field, "Raw call number" that prints the holding_data.call_number field without line breaks.

[2022-06-27 10:11] kremke opened #79 "Enhancement request: Add TinyMCE tools to the editor."
Hi @mgobat ,

Our CS guy found out that the editor that spineomatic uses has a feature that allows the html code to be manipulated, he asked me to post an enhancement request:

We (ILC consortium) have an urgent request that would help us a lot with our workload at the moment. The SpineOMatic cloud app is using the TinyMCE editor and it has a feature or option under 'Tools' -> 'Source Code' that i

[2022-06-27 16:13] mgobat commented on #74
@sthb13, I'm going to close this issue and open an enhancement request for a call number parser that only splits on spaces.

[2022-06-27 16:13] #74 closed

[2022-06-27 16:15] mgobat opened #80 "Add a call number parser that only splits on spaces"
Add "Split by space" parser.

See issue #74, but title should be enough.

[2022-06-27 19:17] #80 closed

[2022-06-27 19:17] mgobat commented on #79
Available in v1.2.7.

[2022-06-27 19:17] #79 closed

[2022-06-27 19:18] #78 closed

[2022-06-27 19:18] #57 closed

[2022-06-27 19:19] mgobat commented on #67
No feedback; closing assuming it is fine.

[2022-06-27 19:19] #67 closed

[2022-06-28 01:32] cindywanghui01 commented on #71
@mgobat hi, is there any luck?

BR,
Cindy

[2022-06-28 13:18] sthb13 opened #81 "Paging not working correctly"
Hi Mark, first thank you for the quick update yesterday. It's a tremendous help to be able to edit the source code of the layout itself. However I discovered today, that the Label per Page setting isn't working correctly. The first page looks correct, but all the following labels spread out on the following pages without page breaks.
Example:
I have 19 items selected
![2022-06-28_12h46_36](https:/

[2022-06-28 15:02] mgobat commented on #81
@sthb13, since you just noticed this, you can't confirm this was happening pre-1.2.7, can you? None of the changes in v1.2.7 should be affecting paging...

[2022-06-28 15:47] mgobat commented on #81
@sthb13, thanks. I'm glad it isn't new.

[2022-06-28 15:49] mgobat commented on #71
@cindywanghui01, I don't think it is an easy/quick change. I have to find something else to use besides Sets.

[2022-06-29 14:08] sthb13 opened #82 "Margins in Print"
Hi Mark,

Sorry to bother you again, but we are in troubles fulfilling the printing demands of our biggest library institution (all public libraries in Iceland). Please have a look at the example below. The left label is how they were produced in the old system, now with SpineOmatic the right label is as close as I can replicate it.

![20220629_124856](https://user-images.githubusercontent.com/427

[2022-06-29 16:23] rolson57 opened #83 "Font setting not retained"
No matter what I select as the font in our template, it always reverts back to System Font 10pt. Yes, I do click "save" each time. What could I be missing?

Thanks,
Roger Olson
San Diego Community College Distrct
![Capture](https://user-images.githubusercontent.com/108420854/176486745-6f003f95-9429-4325-ab1c-8f09f1d95226.PNG)

[2022-06-30 20:02] mgobat commented on #83
@rolson57, when creating a new template, or returning to edit an existing template, the font will default back to the system font. The "Save" only saves the contents of the template, not any settings in the template editor.

Or are you saying that contents in a saved template previously set to another font is being reset to the system font?

Thanks.

[2022-06-30 21:52] rolson57 commented on #83
What I was seeing was that, when another user at our institution opened the SpineOMatic app on her computer and printed labels, the font was too small. So I went back to the template editor and saw it showing 10pt (I had set it to 14pt), so I assumed that the template had regressed back to 10pt.  If I set the font to 14pt in the template editor, it should be 14pt for all users at our institution w

[2022-07-01 11:48] mgobat commented on #83
@rolson57, yes, the template should use the font and font size originally set, unless the user's workstation doesn't have the selected font installed.

[2022-07-01 14:31] rolson57 commented on #83
As an experiment, I printed out three batches of labels on my own workstation. I set a different font and font size in the template editor before printing each batch: Arial 10pt for the first, Courier New 14pt for the second, and Times New Roman 8pt for the third. The three batches of printouts were identical.  Changing the font and font size in the template didn't change anything.

[2022-07-01 18:04] mgobat commented on #83
@rolson57, what printer are you using? Thanks.

[2022-07-01 18:10] rolson57 commented on #83
HP LaserJet 600 M602

[2022-07-01 18:14] mgobat commented on #83
Thanks, @rolson57. Not the answer for which I was hoping. I suspect there could be many problems with specialized label printers (since the SpineOMatic Cloud App's output is HTML), but didn't expect it to be a LaserJet.  That is puzzling.

[2022-07-01 19:02] sthb13 commented on #83
I was experiencing similar problems. The GUI editor is adding <span> elements with font rendering instructions, often overriding and adding more and more rules, depending on how you select the element. I am not quite sure what logic is at work here, but after inspecting some of the templates there were lots of weird (and contradicting) font rendering instructions in the code. The only sane workaro

[2022-07-04 13:24] VangelisPalaskas commented on #77
Hi @mgobat,

I have performed some tests and it looks that your idea works! This is how the spine & barcode label get printed together (one template & layout):
![image](https://user-images.githubusercontent.com/89778038/177161334-491de5d1-9ba5-449d-9471-ff93ea04db2f.png)

*The only disadvantage is that I cannot control well the top margin of the second label (top label is second). I choose this se

[2022-07-04 13:27] VangelisPalaskas commented on #2
Just dropping this here as an idea. I know that it is not in the plans yet.

This is how users edit the Call Number before printing the label in the old label printing tool 📑:

![image](https://user-images.githubusercontent.com/89778038/177164032-bb3a0214-eb03-4e77-a5de-63a670e16fc3.png)

[2022-07-04 13:30] VangelisPalaskas opened #84 "Question: Top Margin in Multiple labels"
Hi @mgobat,

We have noticed that when someone prints multiple labels an extra 0.1cm is added to the Top Margin only of the first label:

![image](https://user-images.githubusercontent.com/89778038/177164915-5eaaef3c-f068-436d-93eb-6cf0a36b01fb.png)

We have set no Top Margin in the windows printing preferences.

Is it possible that this is a small bug and that it will be fixed in the next version

[2022-07-05 13:26] mgobat commented on #77
@VangelisPalaskas, glad the tables in templates helps with your situation. And yes, we'll leave your original issue as an enhancement request to be considered in a future release.

[2022-07-05 14:36] rolson57 commented on #83
Thanks, @sthb13. This is what my source code looks like, regardless of what font or font size has been selected:

<p style="text-align: left;"><span style="font-size: 10pt;">{{field:prefix}} </span><span style="font-size: 10pt;">{{field:item_data.call_no}}</span></p>
<p style="text-align: left;"><span style="font-size: 10pt;">{{field:item_data.description}}</span></p>
![Capture](https://user-image

[2022-07-05 15:45] mgobat commented on #83
@rolson57, what happens if you select text in the template, then select the Webdings or Wingdings font from the font dropdown? Does the text change to the symbols?

System Font:
![system font](https://user-images.githubusercontent.com/45852490/177366475-45a656e7-8e20-452e-a73e-432efa0b4ebd.png)

System Font and Webdings Font:
![webdings](https://user-images.githubusercontent.com/45852490/177366540

[2022-07-05 16:08] rolson57 commented on #83
This is what happened when I changed the font to Wingdings, 12pt
![Capture](https://user-images.githubusercontent.com/108420854/177370608-a078d968-eda5-4a3b-83cc-cd8cfe0d4913.PNG)
![Capture2](https://user-images.githubusercontent.com/108420854/177370730-6d63833e-ac77-455e-ba1d-6c23d1805aa6.PNG)

[2022-07-05 17:23] mgobat commented on #83
@rolson57, and does it print the Wingdings? It looks like the font selection is working ("font-family: wingdings" in the source). If you select the same text and pick another font, then look at the source, it doesn't change the "font-family" to the font you selected? Thanks.

[2022-07-06 05:53] VangelisPalaskas commented on #77
Perfect!

Thank you very much 💯 .

[2022-07-06 15:33] rolson57 commented on #83
Yes, the Wingdings did print.  I think my solution is to edit the source code directly (exactly what @sthb13 suggested).
Thank you very much!

[2022-07-06 15:33] #83 closed

[2022-07-18 16:03] YvonneKester commented on #69
Hi,
Were you able to get any information from the third-party table designer?
Thanks,
Yvonne

[2022-07-19 22:29] YvonneKester commented on #69
Hi @mgobat,
Any update on this?
Thanks,
Yvonne

[2022-07-20 14:26] mgobat commented on #69
Hi @YvonneKester. I've been struggling with getting my test case to revert from inches to pixels. I stepped away from it for awhile because of that. Today, I'm still not able to replicate the behavior you are seeing with inches switching to pixels. I also did not find anything on the table tool developer site reporting such an issue. But it is clearly happening for you. Could you provide complete

[2022-07-20 14:51] YvonneKester commented on #69
Hi @mgobat , thanks. I was working on it Monday and I think I found the main issue, which also seems to have an effect on measures changing from inches to pixels and percent. I start out with two rows, three columns, then merge the two rows in the first column to make the spine label. the middle column is the space between the spine label and the two pocket labels. I discovered the rows that are m

[2022-07-21 18:01] mgobat commented on #69
@YvonneKester, thank you for the detailed steps. I have replicated the issue of inches reverting to pixels. Now to figure out what to do about it...

Not that this is a solution, but we exposed the ability to directly edit the HTML of the template. Click the "<>" icon that appears in the toolbar in front of the tables icons.

[2022-07-22 00:33] YvonneKester commented on #69
Omg, now I'm trying to build the table. ;-) Two side-by-side tables, even.

[2022-08-03 20:55] KatieLai opened #86 "How to remove extra line before c.2, combine text w/ space..."
Hi, sorry I am quite stuck.  Could you please kindly advise how to fix these as shown in the screenshot below?  Fyi, we're using Alma's parsing routine 5.

1. There is an extra line between the copy ID and the volume no.  How do we remove it?
2. We have a hyphen as part of the call number (see the 4th call number).  Is there a way to remove unwanted punctuation within a call number? I see that we

[2022-08-03 21:09] KatieLai opened #87 "Printing call no. with and without prefix in one go"
Hi, I have created a template that includes different prefixes.  I was hoping to use it to print call numbers with and without a prefix.  However, it seems that those without a prefix will have an extra line inserted before the class no., making the first line of the text drop lower than normal.  Is there a way to remove the extra line when there is no prefix?

I suppose I can create separate temp

[2022-08-04 06:50] ClaireCLGUO opened #88 "want to hide dot before Cutter no. like what desktop app can do"
Desktop SpineOMatic can hide Cutter decimal, but there is no such settings could be made in cloud version.
![image](https://user-images.githubusercontent.com/110590074/182779640-357a5d78-db93-48d9-b1ae-a31be1b2028f.png)

[2022-08-04 15:38] mgobat commented on #87
@KatieLai, could you provide the details of the template you are using? Thanks.

[2022-08-04 16:00] mgobat commented on #86
@KatieLai, what call number field are you including in your template?  Do you have a "Call number parser" selected in the "Other options > Call number" section? If not, would any of the options there help?

Removing unwanted punctuation is an enhancement request.

[2022-08-04 16:14] KatieLai commented on #86
Hi @mgobat

Here is the template I use. I selected:

(1) "Parsed call number" and it changes it to "{{field:item_data.call_no}}".  Does it mean SpineOMatic is taking the item from the item record?  But then, the 7th call number in my previous screenshot is not showing the Item Call Number in the Item Record but the number in the bib/holdings.

<img width="343" alt="Screenshot 2022-08-04 at 12 03 5

[2022-08-04 16:20] KatieLai commented on #87
Hi @mgobat

Here are the details of my tempate "Print Book with Prefix."

<img width="292" alt="Screenshot 2022-08-04 at 12 15 21 PM" src="https://user-images.githubusercontent.com/110567414/182897989-b625e2f4-dca9-4130-8e81-949fcc54c117.png">
<img width="278" alt="Screenshot 2022-08-04 at 12 15 28 PM" src="https://user-images.githubusercontent.com/110567414/182898088-7b4ce84f-0c23-4e0e-be6b-5641c

[2022-08-04 18:46] mgobat commented on #87
@KatieLai, thank you for the template details. I will take a look.

Left padding refers to an indentation in the label before the text starts. Here's an image of where/how the settings apply:
![somlayout](https://user-images.githubusercontent.com/45852490/182929611-a6547243-0343-47e6-8f46-7b8d147464ce.png)

[2022-08-04 19:02] mgobat commented on #86
Thanks for these details, @KatieLai; I'll take a look.

- Some of the way the call number prints is due to the Alma Parser. Selecting "Default (Alma)" in the "Call Number Parser" dropdown defers to Alma's parsing. Selecting a different parser in the "Call Number Parser" dropdown can override some of Alma's parsing. Some of what you'd like may require new options in the "Call Number Parser" dropdow

[2022-08-04 19:07] mgobat opened #90 "Add option to remove unwanted characters from call numbers"
The SpineOMatic Windows application has an option for removing specified characters from the call number that is printed on the label. It would be nice to have this option in the Cloud App version. This enhancement was originally mentioned in GitHub issue #86.

[2022-08-05 03:04] cindywanghui01 commented on #71
Hi mgobat,

I am helping customer to check if there is any further update, thanks!

BR,
Cindy

[2022-08-05 20:47] mgobat commented on #71
@cindywanghui01, no update yet. Sorry.

[2022-08-17 12:21] kremke commented on #84
I think this might be the same problem as described in issue #81 It seems that when printing multiple labels Spineomatic puts the first label on a seperate page but the rest are put on one page and the placing of the labels gets messed up because it is not accounting for the label gap.

Regards,

Helgi

[2022-08-23 19:57] mgobat commented on #81
@sthb13, could you please provide the details of your template and layout? Thank you.

[2022-08-23 21:53] mgobat commented on #81
@sthb13, I think the problem may be the "Top margin" setting in the layout. Is yours zero by any chance? If so, what happens if you change it to .1?

[2022-08-25 18:33] mgobat commented on #84
@VangelisPalaskas, what is your "Top margin" set to in the "Layout" you are using? I believe we have a paging issue if the "Top margin" is less than 0.001 (inches or cm). Looking at your sample, I think you probably don't have a "Top margin" below 0.001...and it doesn't appear to be a paging issue as your labels look to all be on the same page or on a continuous roll. Is that correct? Thanks.

[2022-08-25 19:33] YvonneKester commented on #69
Hi @mgobat,

I have been playing with the code, and it gives me hope, but I can't seem to get the left (spine) label to stay put as several labels print one after another. Any pointers on how to get a fixed position? I'm attaching my table html as a text file, and here is a screencast of what I mean: https://www.screencast.com/t/BAEIRnCf
[3-LabelTablehtml.txt](https://github.com/ExLibrisGroup/spin

[2022-09-07 16:14] mgobat commented on #90
Available in v1.2.8.

[2022-09-07 16:14] #90 closed

[2022-09-07 16:15] mgobat commented on #88
Available in v1.2.8.

[2022-09-20 15:21] fesnakm opened #91 "Add ability to toggle line breaks for description and/or all fields like call number parts"
Would be helpful to have the description on separate lines like the call number is, specific to serial publications. if possible, it would also be useful to be able to toggle all spaces onto new lines

![description field spineomatic](https://user-images.githubusercontent.com/114007192/191298180-639700f2-e45d-4ba9-9a12-af39b916460d.jpg)

[2022-09-21 09:19] kremke opened #92 "Add field for uniform title"
Hi,

We have had requests from two of our libraries to add the uniform title to the pocket label, i.e. the content of field 130 $a in the bibliographic record. Would it be possible to add a new **field.bib_data.uniform_title** ?

See [LIbrary of Congress](https://www.loc.gov/marc/bibliographic/bd130.html) for description of this field.

Regards,

Helgi

[2022-09-22 15:09] arschlegel opened #93 "documentation on "suppress copy numbers""
While I believe it can be used simply to choose NOT to display a certain number, like 1, I cannot seem to find any documentation about the copy numbers options, and would greatly appreciate it!

=================================================
My curiosity stems from the fact that I cannot get prefixes OR suffixes to print correctly today, which is another matter entirely. But I think this docume

[2022-09-22 20:15] mgobat commented on #93
@arschlegel, your understanding is correct. The documentation is updated. Please open a new issue if you discover it is not working for you. Thank you.

[2022-09-22 20:15] #93 closed

[2022-09-23 01:43] ClaireCLGUO commented on #88
After testing, it doesn't work perfectly. For call numbers of identical structure, one decimal is hided but another isn't.
![image](https://user-images.githubusercontent.com/110590074/191878387-b245bca1-925b-4ae5-9f0e-1b91f6c815c4.png)

[2022-09-23 11:56] mgobat commented on #88
Thanks for testing, @ClaireCLGUO. We will take a look.

[2022-10-04 14:14] BarbaraSalfate commented on #71
Hi,
Here in Universidad Católica de Chile need this enhancement too because in the PC spineomatic has the option to scan the same barcode several times.
We will be watching for updates.
Thanks in advance.
Bárbara

[2022-10-19 02:26] jonahhighmanUWA commented on #84
Hi @mgobat, I'm having this same problem. I did lots of trial and error getting it to fit on our spine labels, then when tried printing mulitples at once and the second and subsequent pages all had a slightly shorter top margin. These are on a continuous roll, but each label is treated as a separate 'page' both in my SpineOMatic settings and by the label printer driver.

![SUNIT-PTR-022101910410 (

[2022-10-19 02:54] jonahhighmanUWA opened #94 "Use individual parsed call number lines, or limit the number of lines displayed from the parsed call number"
Hi there,

Our spine labels fit up to 8 lines of text. In our current desktop implementation of SpineOMatic, we use the 'Custom' call number format setting to directly arrange data from the XML sources:
[code]
This lets us:
- exclude the 6th parsed call number line provided by Alma. The vast majority of our call numbers don't go into the 6th line, and it allows the issue level description to take

[2022-10-20 14:24] mgobat commented on #94
@jonahhighmanUWA, would the problem be solved if we added an option labeled "Maximum call number parts", applicable only if the "Line breaks between call number parts" option is enabled?

For example, if the call number was "Z56 .S69 1942", and the "Line breaks between call number parts" was checked, and 2 was specified as the "Maximum call number parts", what would get printed is:

Z56
.S69

[2022-10-21 02:51] jonahhighmanUWA commented on #94
Hi @mgobat, Yes I believe it would - I would set the 'Maximum call number parts' option to '5' so that no more than 5 call number lines appeared on the label, so that (for example) 'QC 300 G662(9.03) F749(.03) +2' would result on the label:
[code]

[2022-10-24 13:41] mgobat commented on #94
Included in release v.1.2.9.

[2022-10-24 13:41] #94 closed

[2022-10-24 13:41] mgobat commented on #81
Included in release v.1.2.9.

[2022-10-24 13:41] #81 closed

[2022-10-24 13:41] mgobat commented on #82
Included in release v.1.2.9.

[2022-10-24 13:41] #82 closed

[2022-10-24 13:42] mgobat commented on #84
Included in release v.1.2.9.

[2022-10-24 13:42] #84 closed

[2022-11-02 11:58] mgobat commented on #87
@KatieLai, unfortunately suppressing the blank line when there is no prefix to print cannot be done with the way the SpineOMatic Cloud App is designed.  We could change this to enhancement request, but unless there are more users that need this functionality, it is unlikely to be added.

[2022-11-11 16:49] #87 closed

[2022-11-15 17:09] kronneCSU opened #96 "Future of label templates question"
Hi. I've been testing this app out at my library and am wondering if there are any plans to add more premade label templates for this? For example, I use a specific DEMCO brand label that allows for a spine label and a pocket label, so having the ability to either select or import the template for those specific labels would make it a lot easier to get the formatting correct.

[2022-11-18 19:06] mgobat commented on #96
@kronneCSU, we'll treat this as an enhancement request. Could you please add the details about the labels you are using? Thank you.

[2022-11-18 19:11] kronneCSU commented on #96
This is the specific product I use, it includes Word templates, but that doesn't always translate to other programs.

https://www.demco.com/demco-reg-gaylord-reg-processing-circulation-label-sets-1-14-x-2-58?simpleProduct=49550

I hope that helps? Let me know if there is other information I can provide.

[2022-11-29 02:09] YvonneKester opened #97 "Demco 1-1/2" x 7/8""
Hi,

I'm trying to tweak this layout/template in Alma--it isn't lining up correctly, but it doesn't have a table attached to it. Should it? Printout is migrating left. The screenshot had an offset applied, and she tries to show where the outlines of the lables are. I have played around with the layout a little, and tried putting in a one-cell table in the template, but nothing has worked.

Thanks!

[2022-11-30 19:56] YvonneKester commented on #97
Hello,
I visited the campus having issues, to see if I could figure out how to configure this, but nothing I tried worked. I tried a fresh "Demco Spine 1 1/2 X 7/8" Layout, and applied a one-cell table to that in the template. That did seem to help a little, but we are still far from printing usable labels. I'm attaching a photo of one of the printouts. The black outline is what prints out for gri